table {
    border: 1px solid #494540;
    border-collapse: collapse;
}

td {
    border-left: solid 0;
    border-right: solid 0;
    font-size: 14px;
    color: #666;
    text-align: center;
    border: solid 1px #494540;
    padding: 7px 10px;
    border-bottom: none;
}

.border-none {
    border-top: solid 1px white;
}

.zebra-table tr:hover {
    background: lightblue;
}

a {
    color: #555;
    text-decoration: none;
}

.red {
    color: red;
    font-weight: 700;
}

.right {
    text-align: right;
    padding-right: 10px;
}

.left {
    text-align: left;
    padding-left: 10px;
}

.tabs {
    font-size: 0;
    margin: 18px auto;
}

.tabs > input[type="radio"] {
    display: none;
}

.tabs > div {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
}

#tab-btn-1:checked ~ #content-1, #tab-btn-2:checked ~ #content-2, #tab-btn-3:checked ~ #content-3 {
    display: block;
}

.tabs > label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #ddd;
    border: 1px solid #e0e0e0;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs > label:not(:first-of-type) {
    border-left: none;
}

.tabs > input[type="radio"]:checked + label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.input-header {
    padding: 12px 24px;
    font-size: 20px;
    font-family: serif;
    font-weight: 700;
}

.wrap-head {
    margin: 0 17px 0 13px;
}

.wrap-body {
    margin: 0 17px 0 30px;
    overflow-x: auto;
    height: 795px;
}

table#tab-body, table#tab-head {
    margin: 0;
}

.m2-sds-report .wrap-head, .m2-sds-report .wrap-body {
    margin: 0 auto;
    width: min-content;
}

.m2-sds-report .wrap-body {
    height: 671px;
}

.product-name {
    width: max-content;
    width: 520px;
}

.new-price {
    width: 56px;
    border-radius: 3px;
    border: solid 1px #aaa;
    text-align: right;
    padding: 4px 4px 4px 0;
}

.diff {
    color: lightcoral;
    font-size: 12px;
    width: 60px;
    height: 23px;
    padding: 3px;
}

.change-price-header {
    font-size: 10px;
    color: lightcoral;
}

.diff-minus {
    color: lightcoral;
    font-size: 12px;
    position: absolute;
    left: 7px;
    top: 12px;
}

.diff-plus {
    color: limegreen;
    font-size: 12px;
    position: absolute;
    left: 7px;
    top: 12px;
}

.search-form {
    text-align: right;
    margin: 10px auto 8px;
}

.filters {
    margin-bottom: 10px;
}

.filter-element {
    font-size: 16px;
    font-family: monospace;
}

.search-form label {
    color: #9f9f9f;
}

.search-form table {
    border: 0;
    margin: 0;
}

.search-form td {
    border: 0;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

table.header-block {
    width: 1200px;
    border: 0;
}

.without-border {
    border: 0;
}

.btn {
    width: 125px;
    border-radius: 4px;
    background: lightcoral;
    color: aliceblue;
    padding: 10px 20px;
}

.right-block {
    margin-left: auto;
}