.central-block {width: fit-content; margin: 0 auto 50px;}
.page-header {font-size: 24px; font-weight: 700; padding: 14px; padding-left: 70px; margin-top: 30px;}





.align-center {text-align: center;}
.align-right {text-align: right;}

/* Supplier_choice. Остатки по поставщикам */

.supplierForm select {font-size: 18px; padding: 10px; border: #4e4e4e solid 6px; border-radius: 4px 0 0 4px; width: 350px; color: #4e4e4e;}
.supplierForm option {font-size: 16px;}
.supplierForm button {padding: 10px; border-radius: 0 4px 4px 0; background-color: #4e4e4e; border: none; color: #fff; text-align: center; font-size: 17px; height: 54px; transform: translateY(-1px);
	cursor: pointer; margin-left: -5px;}

table {width: max-content; border-spacing: 0;}
.table-end {margin-bottom: 300px;}
th, table.base th {background: #4e4e4e; padding: 10px; color: #ddd;}
.th-header {background: #C3E7F5;}
.th-header div {width: 400px; color: #555;}
td, table.base td {padding: 7px 5px 7px 14px; font-size: 15px;}
.zebra-table tr, table.base tr {background: #fff;}
.zebra-table tr:nth-child(odd), table.base tr:nth-child(odd) {background:#ECF1F2;}
.td-right {text-align: right; padding-right: 20px;}
.td-center {text-align: center;}

.salesButton {font-size: 17px; text-decoration-line: blink;}
.mainImg {width: fit-content; margin: 130px auto 160px;}
.supplierForm {width: max-content; margin: 0 auto;}
.mainBlock {display: flex;}
.mainBlock div {flex-grow: 1;}

.rightWidth {display: table;} /* table */
.rightWidth a, .rightWidth a:link{color: #fff;}
.line {display: table-row;} /* tr */
.salesBlock {padding: 10px; margin-top: 10px; border-radius: 4px; background-color: dodgerblue; width: 220px;}
.td a:hover {color: #fff;}
.td {display: table-cell;} /* td */
.checkBlock {font-size: 26px; margin-right: 8px; position: relative; top: 3px;}
.value {display: table-cell;} /* td */
.clear-left {width: 150px;}
.clear-right {width: 60px;}


.leftBlock {width: 300px;}
.rightBlock {width: 300px; display: inline-flex;}
.centerTop {height: 30px;}

th a, th a:link {color: #ddd;}
a:link {color: darkslategray; text-decoration: blink;}
a:visited {color: #709ec5;}


div.related {background-color: hotpink; width: 98px; display: inline-flex;}
div.related-red {background-color: orangered;}
div.suppliers {background-color: forestgreen;}
div.reserv {background-color: peru;}
div.telion {background-color: darkcyan;}

.orange {color: orangered;}
th.orange {color: #ff7744;}
.back-orange {background: orangered; color: white;}
.green {color: green; font-weight: 700;}
.red {color: red; font-weight: 700;}

.footer {position: fixed; bottom: 20px; padding: 20px; font-size: 18px; color: grey; width: 100%; text-align: center;}

/* statistic */
.padding-bottom {padding: 10px 15px 15px 5px; display: inline-block; vertical-align: top;}

.form-filters {width: fit-content; margin: 30px 0 20px 100px;}
.form-label-header {padding-bottom: 7px; font-weight: 700; color: #227fa5;}
fieldset {border: solid 2px #9d999d; border-radius: 15px; background: #fffaf0;}
.form-filters button {border-radius: 10px; padding: 10px 22px; font-size: 14px; margin: 0 0 6px 30px; background: #808080; color: #fffaf0; font-weight: 700; border: #555 solid 2px;}

.run-button {width: max-content; text-align: center; padding: 8px 20px; border: solid 3px #30679e; border-radius: 20px; font-size: 16px; font-weight: 700; color: #28537d; line-height: 27px; font-style: initial;
    text-transform: uppercase; font-family: serif; position: absolute;}


/* Anker72. Report */
.change-up {background: lightsalmon;}
.change-down {background: #D0EECF;}

/* Airtek. Report */
.group-info {margin: 15px 0;}
.main-block-airtek {display: flex; flex-direction: column-reverse;}
.td-text {padding-left: 12px; text-align: initial;}
.air-tr-no-change {background: #FFF;}
.air-tr-change-price {background: #D0EECF;}
.air-tr-change-deliv {background: #F9DAB9;}
.air-tr-change-price-deliv {background: #D7C6E1;}
.air-tr-no-in-base {background: #FEDDDE;}

/* выпадающее МЕНЮ */
.tz-navbar {border-radius: 10px; overflow: hidden; background-color: #333; font-family: Arial, Helvetica, sans-serif; 
	background: #AAAAAA; background: -moz-linear-gradient(top, #AAAAAA 0%, #555555 40%, #3B3B3B 100%); background: -webkit-linear-gradient(top, #AAAAAA 0%,#555555 40%,#3B3B3B 100%);
	background: linear-gradient(to bottom, #AAAAAA 0%,#555555 40%,#3B3B3B 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAAAAA', endColorstr='#3B3B3B',GradientType=0 );}
.tz-align {margin: 0 auto; width: max-content;}
.tz-navbar a {float: left; font-size: 17px; color: white; text-align: center; padding: 14px 26px; text-decoration: none;}
.tz-dropdown {float: left; overflow: hidden;}
.tz-dropdown .tz-dropbtn {font-size: 17px; border: none; outline: none; color: white; padding: 14px 26px; background-color: inherit; font-family: inherit; margin: 0;}
.tz-navbar a:hover, .tz-dropdown:hover .tz-dropbtn {
	background-color: #ff6262; 
	background: #A3C1DA; background: -moz-linear-gradient(top, #A3C1DA 0%, #4682B4  40%, #2F659C 100%); background: -webkit-linear-gradient(top, #A3C1DA 0%,#4682B4  40%,#2F659C 100%); 
	background: linear-gradient(to bottom, #A3C1DA 0%,#4682B4  40%,#2F659C 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A3C1DA', endColorstr='#2F659C',GradientType=0 );
	}
.tz-dropdown-content {display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.tz-dropdown-content a {float: none; color: black; padding: 12px 16px; text-decoration: none; display: block; text-align: left; color: white; background: #90a9b7;}
.tz-dropdown-content a:hover {background-color: #ddd;}
.tz-dropdown:hover .tz-dropdown-content {display: block;}

table {margin: 15px auto; width: max-content;}
.btn-delete{border: solid 0; background: none; height: inherit; margin-top: -1px; width: 40px; color: red; font-weight: 700; font-family: cursive;}
.frm-delete{margin: 0; height: 32px; text-align: center;}
.right {text-align: right; padding-right: 10px;}
.table-rows {overflow-x: auto; height: 494px;}

#formInsertUrls {margin: 30px 0;}
#formInsertUrls form {width: min-content; margin: 0 auto; padding: 18px 20px 15px 14px; border-radius: 5px; background: #D4E9F4; box-shadow: 0px 0px 5px -1px;}
#formInsertUrls td {padding: 4px 10px;}
#formInsertUrls input[type="url"] {width: 750px; border-radius: 3px; border: solid 1px #878787; padding: 3px 7px;}
#formInsertUrls button {background: #4e4e4e; border-radius: 5px; padding: 16px 13px; border: solid 1px #878787; margin: 0 5px 0 21px; color: #ecf1f2; font-weight: 700;}
#formInsertUrls button:hover {background: #4e4e4e; box-shadow: 0 0 7px 1px #777; cursor: pointer;}
button.mini-button {height: 25px; width: 25px; border-radius: 5px; background: inherit; color: #9d9d9d; border: solid 2px #9d9d9d; font-weight: 700; font-size: 15px; padding: 0px 1px 3px 0px; cursor: pointer;}
button.mini-button:hover {box-shadow: 0 0 5px -1px #4e4e4e; color: #4e4e4e; border-color: #4e4e4e;}
.td-id {width: 18px; max-width: 18px;}
.td-category {width: 140px; max-width: 140px;}
.td-name {width: 310px; max-width: 310px;}
.td-vendor {width: 310px; max-width: 310px;}
.td-ourprice {width: 60px; max-width: 60px;}
.td-vendorprice {width: 60px; max-width: 60px;}
.td-about {width: 46px; max-width: 46px;}
.td-minibutton {width: 25px; max-width: 25px;}
#resultTable table {margin: 0; width: 1264px;}
#resultTable td, #resultTable th {padding-left: 10px; padding-right: 8px; overflow: auto;}
.zebra-table tr:hover, .zebra-table tr:nth-child(odd):hover {background: palegreen !important;}
table.base tr:hover, table.base tr:nth-child(odd):hover {background: palegreen !important;}
.system-block {background: aquamarine; margin: 10px 0px; padding: 3px 10px; border-radius: 3px; width: fit-content;}
body {font-family: monospace;}

