@font-face{
	font-family: 'Archangelsk';
	src: url('../fonts/Archangelsk.eot');
	src: url('../fonts/Archangelsk.eot?iefix') format('eot'),
	url('../fonts/Archangelsk.woff') format('woff'),   
	url('../fonts/Archangelsk.ttf') format('truetype'),
	url('../fonts/Archangelsk.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&subset=cyrillic-ext');

.home-4 .slick-list{width: 100%;}

/* Главная страница */
a {color: #555;}
a:hover, a:focus {color: #222;}
h3, .h3 {margin: 0 0 10px;}
.vendor-store-desc h2 {display: none;}
.card img {padding-right: 4px;}
.t3-content {padding-top: 0;}
.moduletable .product-wrap .product-details .product-cart, .t3-module .product-wrap .product-details .product-cart, .trendshop-slider .product-wrap .product-details .product-cart, .product-related-products .product-wrap .product-details .product-cart {margin: 15px 0 15px 0;}
.moduletable .product-wrap .product-info .product-name, .t3-module .product-wrap .product-info .product-name, .trendshop-slider .product-wrap .product-info .product-name, .product-related-products .product-wrap .product-info .product-name {overflow: hidden; line-height: 1.4em; height: 4.2em;}
.home-4 .moduletable {padding: 10px 0 0 0;margin-bottom: -22px;}
.home-4 {background: #fff; margin-bottom: 40px;}
.t3-footer {background: #f4f3ef;}
.t3-footnav .t3-module {background: #f4f3ef;}
.tab-module {margin: 0; border: 0; padding: 14px 0;}
.vm_cart_products .product-info {margin-bottom: 0;}
.telion-main-page-outer {background-color: #f4f3ef; margin: -22px;}
.telion-main-page-inner {margin: auto; width: auto; max-width: fit-content; width: -moz-fit-content; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);}
.telion-main-page-h1 {font-size: 34px; margin-top: 0; text-align: center;}
.telion-text {font-size: 14px; margin-bottom: 0;}
.telion-text-pink {font-size: 14px; margin-bottom: 0; color:#E06666;}
.telion-img {max-height: 24px; padding-right: 8px;}
.telion-descr {position: absolute; z-index: 9999; margin-left: -5px; margin-top: -5px; display: none; padding: 10px; background: #F1EFEB; height: max-content; width: max-content; border-radius: 7px; -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3); box-shadow: 0 5px 5px rgba(0,0,0,0.3);}
.telion-vazhno1 {display: inline-block; padding: 7px 5px 0 3px;}
.telion-vazhno2 {display: inline-block; font-size: 18px}
.telion-a-vazhno1 {font-size: 19px; color: #EB5E28;}
.telion-a-vazhno2 {font-size: 18px; color: #000;}
.customnav.navbar-nav:hover .telion-descr {display: block;}
.t3-footer .t3-footnav {padding: 0;}
.telion-main-page-inner p {font-size: 20px; color: #888;}
.telion-main-page-inner li {font-size: 18px; color: #888;}
@media (max-width: 767px){
	.col-xs-6 {width: 100%;}
	div#t3-mainbody {max-width: 97%;}
	ul, ol {padding-left: 25px;}
	.t3-header .phone p {display: inline-block; padding: 0 20px;}
	.bottom-banner {display: none;}
	.tab-module {padding: 10px 0 0 0;}
	.telion-main-page-h1 {font-size: 30px;}
	}
@media (max-width: 568px){
	.telion-main-page-h1 {font-size: 23px; font-weight: 700;}
	.telion-main-page-inner p {font-size: 17px; text-align: center;}
	.telion-main-page-inner li {font-size: 14px;}
	}
@media (max-width: 489px){
	.product-day-module.noslider .product-day-wrap {width: 100% !important;}
	.t3-footnav .t3-module {text-align: center;}
	}
@media (max-width: 425px){
	.telion-main-page-h1 {font-size: 18px;}
	.tab-module .nav-pills > li > a {font-size: 14px;}
	ul, ol {padding-left: 15px;}
	.tab-module .product-info, .moduletable .product-info {margin-bottom: 0;}
	.tab-module .product-wrap .product-details, .moduletable .product-wrap .product-details {margin-top: 0; margin-bottom: 0;}
	.tab-module .trendshop-slider .product-wrap .product-info .product-name, .moduletable .trendshop-slider .product-wrap .product-info .product-name {height: 44px;}
	.tab-module .trendshop-slider .product-wrap .product-details .product-cart, .moduletable .trendshop-slider .product-wrap .product-details .product-cart {margin: 15px 0 11px 0;}
	.tab-module .trendshop-slider .product-wrap .product-details .product-price, .moduletable .trendshop-slider .product-wrap .product-details .product-price {margin-bottom: 15px;}
	.fa-location-arrow a {font-size: 14px;}
	.customnav.navbar-nav p {margin-bottom: 0;}
	.telion-hello-user {font-size: 13px; padding-top: 11px;}
	} 
@media (max-width: 359px){
	.telion-main-page-h1 {font-size: 16px;}
	.telion-main-page-inner p {font-size: 16px;}
	.telion-main-page-inner li {font-size: 16px;}
	.tab-module .nav-pills > li > a {padding: 5px 13px;}
	}
@media (min-width: 490px){
	.product-day-module.noslider .product-day-wrap {width: 50% !important;}
	.t3-footnav .col-sm-6 {width: 50%;}
	}
@media (min-width: 768px){
	.product-day-module.noslider .product-day-wrap {width: 100% !important;}
	}
@media (min-width: 1200px){
	.t3-footnav .col-lg-3 {width: 25%;}
	}

/* Шапка сайта */
.logo-control .logo-img {display: block;}
.logo-image.logo-control {margin-top: 6px;}
.t3-header .logo {z-index: 2;}
.header-top.navbar.navbar-default {background: linear-gradient(135deg, #6078ea -50%,#17ead9 150%); color: #fff; z-index: 9999;}
.t3-header .header-top .fa {font-family: inherit; width: auto; padding-top: 11px;}
.t3-header > .container > .row {display: -webkit-flex; display: -ms-flexbox; display: -ms-flex; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: baseline; -ms-align-items: baseline; align-items: center;}
.t3-header .header-inner {padding: 20px 0;}
.fa {display:inline-block; font:normal normal normal 14px/1 FontAwesome; font-size:16px; text-rendering:auto; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.fa-user-circle {font-size:14px;}	
.telion-hello-user a {color: #fff;}
.telion-fa-hello-user:before {font: normal normal normal 14px/1 FontAwesome; margin-right: 5px; content: "\f2bd";}
a.fa.fa-user-circle {display: none;}
.fa-location-arrow a {color: #fff;}
.header-top-1.col-lg-6.col-md-6.col-sm-6.col-xs-6 {margin: 2px 0;}
.header-top-2.col-lg-6.col-md-6.col-sm-6.col-xs-6 {margin: 2px 0;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 10px; padding-right: 10px;}
.navbar-default .navbar-nav > li > .nav-header {color: #fff; padding: 10px 15px; font-family: "Arial"; line-height: 1.42857;  margin: 0 3px;}
.navbar-default .navbar-nav > li > .nav-header:after {font-family: "FontAwesome"; content: " \f107";}
.t3-header .header-top .dropdown-menu {border: solid 1px #ddd;}
.dropdown-menu > li.active > a {background-color: #fff; color: #888; font-weight: 700;}
.dropdown-menu > li.active > a:hover, .dropdown-menu > li.active > a:focus {color: #888; background-color: #eee;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {border-left: solid 5px #3BB2E1 !important; background-color: #f5f5f5;}
.dropdown-menu > li > a {border-left: solid 5px #fff !important; background-color: #fff;}
.dropdown-menu {background-color: #fff;}
.t3-header .header-top .header-top-2 ul.nav > li:last-child > a:hover {color: #fff;}
.navbar-default .navbar-nav > li > a:not(.btn) {color: #fff;font-family: arial;}
[class*="navbar-"] .navbar-nav > li > a, [class*="navbar-"] .navbar-nav > li > a:hover, [class*="navbar-"] .navbar-nav > li > a:focus, [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a, [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a:hover, [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a:focus {opacity: 1;}
.t3-header .search-and-cart {z-index: 1000;}
h2.vmsearch-title {font-size: 38px; margin-top: -32px; padding-bottom: 25px;}
.search-dropdown-menu .dropdown-menu.dropdown-menu-right {display: block; top: -1px; right: 100px; left: 100px; margin: 0; padding: 0; box-shadow: none; background-color:#fff; z-index:0;}
.vm-search .form-group {width: 90%; position: relative;}
.vm-search input.form-control {width: 100%; padding-right: 40px; border-radius: 8px;}
#vmsearch input {border-radius: 8px 0 0 8px !important;}
#vmsearch button {border-radius: 0 8px 8px 0; height: 33px;}
.product-related-products .product-info {margin-bottom: 32px;}
.product-related-products .moduletable .product-wrap .product-details .product-price, .product-related-products .t3-module .product-wrap .product-details .product-price, .trendshop-slider .product-wrap .product-details .product-price, .product-related-products .product-wrap .product-details .product-price {margin-bottom: 18px; text-align: center;}
.vm-search button {right: 4px; top: -3px;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {color: #aaa;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {top: 5px; border: 1px solid #bbb; padding: 3px 11px; height: 33px;}
.t3-header .cart .vmCartModule {top: 1px; padding-right: 15px;}
span.subtotal_with_tax {padding-left: 130px;}
.product-info {margin-bottom: 80px;}
.header-top-2 .navbar-nav > .active > a, .header-top-2 .navbar-nav > .active > a:not(.btn):hover, .header-top-2 .navbar-nav > .active > a:not(.btn):focus, .t3-header .header-top .header-top-2 .navbar-nav > li > a:not(.btn):focus, .t3-header .header-top .header-top-2 .navbar-nav > li.active > a, .t3-header .header-top .header-top-2 .navbar-nav > li > a{color: #fff;}
.t3-header .header-top .header-top-2 ul.nav {float: right;}
.delivery-telion {display: none; position: relative; z-index: 1;}
.customnav.navbar-nav {display: inline-flex;}
.delivery-telion a {color: #fff;}
#vmsearch button {background: #DFDBD1 !important;}
.telion-hello-user {float: right; padding-top: 11px; padding-left: 20px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

@media (max-width: 767px){
	.t3-header .header-inner .search-and-cart {top: -10px;}
	.t3-footnav .col-xs-1, .t3-footnav .col-sm-1, .t3-footnav .col-md-1, .t3-footnav .col-lg-1, .t3-footnav .col-xs-2, .t3-footnav .col-sm-2, .t3-footnav .col-md-2, .t3-footnav .col-lg-2, .t3-footnav .col-xs-3, .t3-footnav .col-sm-3, .t3-footnav .col-md-3, .t3-footnav .col-lg-3, .t3-footnav .col-xs-4, .t3-footnav .col-sm-4, .t3-footnav .col-md-4, .t3-footnav .col-lg-4, .t3-footnav .col-xs-5, .t3-footnav .col-sm-5, .t3-footnav .col-md-5, .t3-footnav .col-lg-5, .t3-footnav .col-xs-6, .t3-footnav .col-sm-6, .t3-footnav .col-md-6, .t3-footnav .col-lg-6, .t3-footnav .col-xs-7, .t3-footnav .col-sm-7, .t3-footnav .col-md-7, .t3-footnav .col-lg-7, .t3-footnav .col-xs-8, .t3-footnav .col-sm-8, .t3-footnav .col-md-8, .t3-footnav .col-lg-8, .t3-footnav .col-xs-9, .t3-footnav .col-sm-9, .t3-footnav .col-md-9, .t3-footnav .col-lg-9, .t3-footnav .col-xs-10, .t3-footnav .col-sm-10, .t3-footnav .col-md-10, .t3-footnav .col-lg-10, .t3-footnav .col-xs-11, .t3-footnav .col-sm-11, .t3-footnav .col-md-11, .t3-footnav .col-lg-11, .t3-footnav .col-xs-12, .t3-footnav .col-sm-12, .t3-footnav .col-md-12, .t3-footnav .col-lg-12 {width: 50%; text-align: center;}
	}
@media (max-width: 425px){
	.search-dropdown-menu .dropdown-menu.dropdown-menu-right {top: 0; left: -56px; right: 80px; height: 41px;}
	#vmsearch button {padding: 4px 5px 10px !important;}
	.vm-search .form-group {width: 100%;}
	.navbar .btn {margin: 3px 3px;}
	.btn i, .navbar .navbar-nav > li > a.btn i {margin-top: 11px;}
	.t3-header .header-inner .phone {margin-bottom: 15px;}
	.t3-mainnav {margin-top: 0;}
	.t3-header > .container > .row {height: 112px;}
	.t3-header .header-inner {padding-top: 17px;}
	.tab-module .nav-pills {margin: 10px 0 20px 0;}
	.t3-footnav .col-xs-1, .t3-footnav .col-sm-1, .t3-footnav .col-md-1, .t3-footnav .col-lg-1, .t3-footnav .col-xs-2, .t3-footnav .col-sm-2, .t3-footnav .col-md-2, .t3-footnav .col-lg-2, .t3-footnav .col-xs-3, .t3-footnav .col-sm-3, .t3-footnav .col-md-3, .t3-footnav .col-lg-3, .t3-footnav .col-xs-4, .t3-footnav .col-sm-4, .t3-footnav .col-md-4, .t3-footnav .col-lg-4, .t3-footnav .col-xs-5, .t3-footnav .col-sm-5, .t3-footnav .col-md-5, .t3-footnav .col-lg-5, .t3-footnav .col-xs-6, .t3-footnav .col-sm-6, .t3-footnav .col-md-6, .t3-footnav .col-lg-6, .t3-footnav .col-xs-7, .t3-footnav .col-sm-7, .t3-footnav .col-md-7, .t3-footnav .col-lg-7, .t3-footnav .col-xs-8, .t3-footnav .col-sm-8, .t3-footnav .col-md-8, .t3-footnav .col-lg-8, .t3-footnav .col-xs-9, .t3-footnav .col-sm-9, .t3-footnav .col-md-9, .t3-footnav .col-lg-9, .t3-footnav .col-xs-10, .t3-footnav .col-sm-10, .t3-footnav .col-md-10, .t3-footnav .col-lg-10, .t3-footnav .col-xs-11, .t3-footnav .col-sm-11, .t3-footnav .col-md-11, .t3-footnav .col-lg-11, .t3-footnav .col-xs-12, .t3-footnav .col-sm-12, .t3-footnav .col-md-12, .t3-footnav .col-lg-12 {width: 100%;}
	.t3-header .header-inner .search-and-cart {top: 10px;} /*top: 9px*/
	.happy-birthday {display: none;}
	li.item-315 {display: none;}
	.header-top-1.col-lg-6.col-md-6.col-sm-6.col-xs-6 {width: 80%;}
	.header-top-2.col-lg-6.col-md-6.col-sm-6.col-xs-6 {width: 20%;}
	.row {padding-bottom: 9px;}
	}
@media (max-width: 375px){
	.t3-header > .container > .row {height: 142px;}

	.telion-hello-user {max-width: 132px;}
	.search-dropdown-menu .dropdown-menu.dropdown-menu-right {right: 80px;}
	.t3-header .header-inner .search-and-cart {top: 10px;}
	}
@media (max-width: 350px){
	.search-dropdown-menu .dropdown-menu.dropdown-menu-right {left: -46px; right: 82px;}
/*	.t3-header .cart {left: 53%; position: relative;}*/
	}
@media (max-width: 332px){
	.navbar-default .navbar-nav > li > a:not(.btn) {padding: 11px; font-size: 13px;}
	a.telion-fa-hello-user {font-size: 13px;}
	}
@media (min-width: 374px){
	.happy-birthday {position: absolute; left: 46%; top: 74px; width: max-content; width: -moz-max-content;}
	.telion-hello-user {max-width: 162px;}
	}
@media (min-width: 426px){
	.happy-birthday {position: absolute; left: 50%; top: 74px; width: max-content; width: -moz-max-content;}
	.telion-hello-user {max-width: 180px;}
	.search-dropdown-menu .dropdown-menu.dropdown-menu-right {left: 0;}
	.dropdown-menu-right img {min-width: 16px; padding-bottom: 3px;}
	.telion-hello-user {padding-top: 10px; padding-right: 0;}
	}
@media (min-width: 768px){
	.happy-birthday {position: absolute; left: 310px; top: 26px; width: max-content; width: -moz-max-content;}
	.telion-hello-user {max-width: 162px;}
	.search-dropdown-menu .dropdown-menu.dropdown-menu-right {left: 27px;}
	}
@media (min-width: 992px){
	.happy-birthday {position: absolute; left: 426px; top: 26px; width: max-content; width: -moz-max-content;}
	.telion-hello-user {max-width: 180px;}
	.delivery-telion {left: 36%; display: block;}
	.search-dropdown-menu .dropdown-menu.dropdown-menu-right {left: 60px;}
	}
@media (min-width: 1200px){
	.happy-birthday {position: absolute; left: 499px; top: 26px; width: max-content; width: -moz-max-content;}
	.telion-hello-user {max-width: 280px;}
	.delivery-telion {left: 61%; display: block;}
	}


/* Модуль Аккордеон меню */
.t3-off-canvas .t3-off-canvas-body {padding: 0;}
.t3-off-canvas .t3-off-canvas-header {background:#494540;}
h2.t3-off-canvas-header-title {color: #f4f3ef;}
.accordeonck .level1:hover > .accordeonck_outer a {background-color: #f4f3ef;}
.accordeonck .level1 > .accordeonck_outer a {font-size: 16px; background-color: #f4f3ef; color: #66615b; border-bottom: 1px solid transparent; border-bottom-color: #d1d0ce; padding: 10px 40px 10px 5px;}
.accordeonck .level1 > .accordeonck_outer a.isactive {background-color: #f4f3ef; color: #66615b; font-weight: 700;}
.accordeonck .level1 > .accordeonck_outer a:hover, .accordeonck .level1 > .accordeonck_outer a:focus {background-color: #94908C; background:linear-gradient(135deg, #6078ea 0%,#17ead9 100%); color: #f4f3ef;}                                             
.accordeonck .level2 > .accordeonck_outer a {font-size: 15px; box-shadow: none; background-color: #f4f3ef; color: #66615b; border-bottom-color: #d1d0ce; padding: 10px 40px 10px 15px;}
.accordeonck .level2 > .accordeonck_outer a.isactive {background-color: #f4f3ef; color: #66615b; font-weight: 700;}
.accordeonck .level2 > .accordeonck_outer a:hover, .accordeonck .level2 > .accordeonck_outer a:focus {background-color: #94908C; background:linear-gradient(135deg, #6078ea -20%,#17ead9 120%); color: #f4f3ef;}
.accordeonck .level3 > .accordeonck_outer a {font-size: 14px; background-color: #f4f3ef; color: #66615b; border-bottom-color: #d1d0ce; padding: 10px 40px 10px 25px;} 
.accordeonck .level3 > .accordeonck_outer a.isactive {background-color: #f4f3ef; color: #66615b; font-weight: 700;}
.accordeonck .level3 > .accordeonck_outer a:hover, .accordeonck .level3 > .accordeonck_outer a:focus {background-color: #94908C; background:linear-gradient(135deg, #6078ea -20%,#17ead9 120%); color: #f4f3ef;}                                          
.accordeonck .parent > .toggler .toggler_icon {top: 12px; padding: 0; color: #66615b;}
.t3-sidebar h3.module-title {font-size: 18px; margin: 0 0 20px 0; line-height: 1.1; font-weight: 700;}
.accordeonck span.image-title {font-size: 16px;}
.accordeonck img {display: none;}
.t3-off-canvas {background: #FCFBFA;}
@media (max-width: 425px){
	.t3-off-canvas {width: 80%}
	.accordeonck .level1 > .accordeonck_outer a, .accordeonck .level2 > .accordeonck_outer a, .accordeonck .level3 > .accordeonck_outer a {text-align: left;}
	}
@media (min-width: 320px){
	.accordeonck .parent > .toggler .toggler_icon {top: 5px; font-size: 30px; padding: 7px 11px; margin: -6px -12px 0 0;}
	}

/* Страница с материалом */
.zebra-table {margin: auto; border-collapse: collapse;}
.zebra-table tr:nth-child(odd) {background:#E4E1D9;}
.zebra-table th {border: 1px solid #666; text-align: center; vertical-align: middle; background-color: #D2CDC0; padding: 5px; color: #414141;}
.zebra-table td {border: 1px solid #666; padding: 5px;}
.zebra-table p {margin: 0;}
.zebra-table-title p {text-align: center; color: #EB5E28;}
.view-article h1.article-title {font-size: 24px; margin: 0 0 20px 0;}

/* Страница корзины */
#cart-contents #allproducts .top-row .cart-btn i {padding: 6px 0;}
#cart-contents #allproducts .top-row input.quantity-input {width: 60px !important;}
#cart-contents #shipment_select .vmshipment_description, #cart-contents #shipment_select .vmshipment_cost, #cart-contents #shipment_select .vmpayment_cost, #cart-contents #shipment_select .vmpayment_description {color: #9E9E9E;}
#cart-contents #payment_select .vmpayment_cost, #cart-contents #payment_select .vmpayment_description {color: #9E9E9E;}
.post_payment_payment_name {padding-bottom: 10px;}
.post_payment_order_number {padding-bottom: 10px;}

#system-message-container {display: none;}
/*#system-message {margin-bottom: 0;}
.container .alert {margin: 0; border: solid 4px grey; border-radius: 10px; box-shadow: #ccc 5px 5px 10px;}*/
.alert-warning {
    background-color: none;
    color: none;
}

@media (max-width: 425px){
	#cart-contents .opg-list .radio label, span.vmpayment_name, #cart-contents #shipment_select .vmshipment_description, #cart-contents #shipment_select .vmshipment_cost, #cart-contents #payment_select .vmpayment_cost, #cart-contents #payment_select .vmpayment_description {font-size: 12px; text-align: left;}
	#cart-contents #shipment_select .vmshipment_cost {padding-left: 0;}
	h3.title-cart {padding-top: 20px;}
	#cart-contents #shipment_select .card, #cart-contents #payment_select .card, #cart-contents #otherpay_buttons .onlyguest {padding: 5px 10px; margin-bottom: 0;}
	#cart-contents #shipment_select ul#shipment_ul, #cart-contents #payment_select ul#payment_ul {margin-bottom: 0;}
	#cart-contents .opg-list label {text-align: left;}
	#cart-contents #payment_select .vmpayment_cost, #cart-contents #payment_select .vmpayment_description {padding-left: 3px;}
	#cart-contents #otherpay_buttons .adminform label {padding-left: 10px; font-size: 15px;}
	#cart-contents input[type="text"], #cart-contents input[type="email"], #cart-contents input[type="password"], #cart-contents select {font-size: 14px;}
	#cart-contents .navbar .navbar-nav > li > a.btn.btn-lg, .btn-lg {font-size: 16px;}
	#cart-contents .checkout-button-top a.btn {margin: 8px auto 40px;}
	#cart-contents #bottom_total {margin: 20px 0;}
	#cart-contents textarea#customer_note_field {font-size: 14px;}
	#cart-contents .opg-margin-small-top {margin-top: 0 !important;}
	#cart-contents #otherpay_buttons .adminform > div {margin-bottom: 10px !important;}
	#cart-contents .tos-checkbox a {font-size: 14px;}
	#cart-contents .card {padding: 10px;}
	#cart-contents #loginbtns a {font-size: 13px; height: 44px; padding-top: 5px;}
	#cart-contents #loginbtns {padding: 5px 0 20px;}
	#cart-contents #loginbtns #regbtn {padding-left: 9px; font-size: 11px; white-space: normal; line-height: 1.5em;}
	#cart-contents #otherpay_buttons .all_shopper_fields > .opg-margin-bottom a {font-size: 15px; padding: 8px 0;}
	.opg-panel-title {font-size: 16px; text-align: center; color: #777 !important;}
	#cart-contents #otherpay_buttons .all_shopper_fields {margin-bottom: 0;}
	#cart-contents #otherpay_buttons #logindiv a.btn {margin-left: 13px; margin-bottom: 10px;}
	#logindiv .opg-panel-title {font-size: 18px; margin-left: 14px; margin-top: 4px;}
	}

/* Вход/Регистрация, Страница пользователя, */
#login-error {margin: 30px 50px;}
.error-text {border: solid 1px #ccc; background-color: #FCFBFA; padding: 10px; color: #EB5E28; margin-bottom: 10px; border-radius: 5px;}
div#tab-1 {border: 1px solid #d1d0ce; padding: 10px 20px 5px 20px; border-radius: 0 10px 10px;}
div#tab-2 {border: 1px solid #d1d0ce; padding: 10px 15px 9px; border-radius: 0 10px 10px;}
.view-user form#adminForm > #ui-tabs #tabs {margin-bottom: -1px;}
.view-user form#adminForm > #ui-tabs #tabs li.current {color: #66615b; font-weight: 400; border: 1px solid #d1d0ce; border-bottom: 1px solid #f4f3ef; background-color: #f4f3ef;}
.view-user form#adminForm #jform_captcha, .view-user form#userForm #jform_captcha {padding: 10px 0 20px 0;}
.view-user form#adminForm > #ui-tabs #tabs li {color: #ccc5b9; margin-right: -1px; padding: 9px 12px; border: 1px solid #d1d0ce; border-radius: 15px 15px 0 0; background-color: #F7F7F4;}
div#editcell {margin: 10px;}                         
td, tr td {border-top: 0;}
table.telion-details-order-table {margin-bottom: 15px;}
form#com-form-login h2 {font-size: 22px;}
form#com-form-login {padding: 20px; border: 1px solid #ccc; border-radius: 10px;}
.telion_reg {padding-left: 0;}
div#ui-tabs {width: 100%;}
td.orders-key-left {width: 220px;}
.telion-none {display: none;}
span.vmCartShipmentLogo {display: none;}
span.vmCartPaymentLogo {display: none;}
.vm-orders-information .vm-orders-order td {padding: 7px 14px 7px 7px;}
.vm-orders-information #tabs li.current {border: solid 1px #ccc; font-weight: 400; background: #f4f3ef; border-bottom: 1px solid #f4f3ef;}
.vm-orders-information #tabs li {border: solid 1px #ccc; padding: 9px 12px; margin-right: -1px; border-radius: 15px 15px 0 0; background: #f4f3ef; color: #B9B0A2;}
.vm-orders-information .vm-orders-order .vmshipment_description, .vm-orders-information .vm-orders-order .vmpayment_description {color: #B9B0A2;}
.vm-orders-information #tabs {margin-bottom: -1px;}
.telion-details-order-div-items {display: none;}
.view-user form#adminForm table td.key + td, .view-user form#userForm table td.key + td {width: 75%;}
.view-user form#adminForm > #ui-tabs #tab-2 td, .view-user form#adminForm > #ui-tabs #tab-2 th {padding: 6px; width: -webkit-fill-available; width: -moz-available;}
.view-user h1 {margin: 0 0 20px 40px;}
tr.telion-username {display: none;}
tr.telion-name {display: none;}
tr.telion-password2 {display: none;}
.telion-form-login {display: block; margin: 0 50px 0 20px;}
.telion-form-registration {display: inline-flex; margin-bottom: 50px;}
.telion-form-reg-inside-1 h2, .telion-form-reg-inside-2 h2 {margin: 0;}
.telion-form-reg-inside-2 {border: 1px solid #ccc; border-radius: 10px; padding: 20px;}
.view-user form#adminForm .buttonBar-right, .view-user form#userForm .buttonBar-right {margin: 0; width: max-content; display: flex;}
.view-user form#adminForm table td.key, .view-user form#userForm table td.key {width: 140px; display: inline-block;}
form#com-form-login input[type="submit"] {margin-left: 12px;}
.view-user form#adminForm table .tos-block td.key + td .terms-of-service, .view-user form#userForm table .tos-block td.key + td .terms-of-service {margin: 0;}
.tabs .buttonBar-right {left: 56px; bottom: 15px;}
.login-wrap {border: solid 1px #ccc; border-radius: 10px; padding: 10px; width: min-content; width: -moz-min-content; margin: 15px 20% 30px;}
.login-wrap .form-group {margin: 0;}
.login-wrap label.checkbox {margin: 12px 0;}
.login-wrap button.btn.btn-primary {margin: 0 0 57px;}
.login-wrap .other-links ul {position: absolute; padding-left: 15px; left: 0; bottom: -6px; list-style-type: none; font-size: 15px;}
.moduletable {margin: 0;}
.view-user #fancybox-wrap {width: 80% !important; left: 9% !important;}
div#rev_slider_2_1_wrapper {box-shadow: 0 0 10px;}
.vendor-store-desc .card {box-shadow: none;}
.vendor-store-desc .content {background: #F4F3EF;}
.product-question h4 {font-size: 18px;}
div#fancybox-wrap {height: inherit !important;}
.view-user #fancybox-wrap #fancybox-content > div {height: inherit !important;}
.alert-message {background-color: #ffe; padding: 3px 7px; border-radius: 5px;}
.reset .form-validate p, .remind .form-validate p {background: none; border: none; margin-bottom: 20px; padding: 0 10px; border-radius: 0; text-shadow: 0 0 1px #ddd; font-size: inherit;}
.form-horizontal .form-group {margin-left: 0; margin-right: 0;}
button.btn.btn-primary.validate {margin-top: 10px; margin-left: 10px;}
.telion-prices {font-size: 20px; font-weight: 700;}
.telion-basePrice {font-size: 21px; color: #888;}
span.Priceproduct_price:before {content: ''; display: block; position: absolute; width: 100%; height: 1px; background: #ccc5b9; left: 0; bottom: 10px; -webkit-transform: rotate(170deg); transform: rotate(170deg);}
span.Priceproduct_price {position: relative; margin-left: 15px; font-size: 20px; color: #ccc5b9;}
.view-user form#form-login input[type="submit"] {margin: 20px 0 20px 125px;}
form#form-login {display: inline-block; position: absolute;}
.vm-order-done form#form-login {position: absolute; right: 30px; top: 13px;}
.floatright {display: none;}
.cf4all_no_color_btn {height: auto;}
.cf4all_buttons input[type="radio"]:checked+label, .cf4all_buttons input[type="checkbox"]:checked+label, .cf4all_color_buttons input[type="radio"]:checked+label, .cf4all_color_buttons input[type="checkbox"]:checked+label {border: 2px solid #EB5E28 !important; box-shadow: 0 0 4px #EB5E28;}
.view-user form#adminForm table tr, .view-user form#userForm table tr {display: flex; padding-bottom: 0;}
.telion-form {display: flex;}
.view-user form#adminForm > #ui-tabs #tab-1 .buttonBar-right {padding-top: 20px;}
.view-cart .vm-order-done h3, .view-cart .cart-empty-page h3 {display: none;}
form#com-form-login label[for="remember"] {display: inline-flex; margin: 14px 0 0 10px;}
.telion-form-login a {font-size: 15px; color: #888;}
.telion-order-details-th-left-sku, .telion-order-details-th-left, .telion-order-details-th-right {padding: 5px 0;}
.telion-order-details-th-left {text-align: left;}
.telion-order-details-th-right {text-align: right;}
.vm-orders-information #tabs li {font-size: 18px;}
.telion-order-details-th-left-sku {text-align: left; display: table-cell;}
.telion-order-details-td-left-sku {display: table-cell;}
.view-user form#adminForm table td.key, .view-user form#userForm table td.key {margin: auto;}
.view-user form#adminForm table td.key + td, .view-user form#userForm table td.key + td {margin: auto;}
.view-user form#adminForm table input, .view-user form#userForm table input, .view-user form#adminForm table label, .view-user form#userForm table label, .view-user form#adminForm table select, .view-user form#userForm table select {margin: 9px 0;}
.telion-tos {padding: 10px 0;}
.telion-form-login .inputbox {margin: 0 auto;}
.vm-order-done .button {display: none;}
.tel-adminlist {border: 1px solid #ccc; padding: 15px; border-radius: 12px; margin: 35px 10px 100px;}
.form-horizontal .control-group {display: grid; margin-left: 40px;}
.form-horizontal .control-group .controls {margin-left: 0;}
#user-registration button {margin-left: 60px; margin-top: 10px;}
.remind {border: solid 1px #ccc; padding: 20px 9px 14px; border-radius: 9px; width: max-content; margin-left: 25px;}
.vm-orders-list .telion-form-login {display: none;}
.vm-orders-list .order-view {border: solid 1px #ccc; border-radius: 10px; width: max-content; padding: 20px; margin: 0 25% 55px;}
.vm-orders-list h1 {margin: 0 25% 15px;}
.vm-orders-list input[type="submit"] {margin: 0 auto; display: block;}
.vm-orders-list #com-form-order-submit {margin: 20px 0 0 0;}
@media (max-width: 1199px){
	form#com-form-login {padding: 15px;}
	.telion-form-login {margin: 0; margin-right: 16px;}
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {width: 230px;}
	.telion-order-details-th-left-sku {display: none;}
	.telion-order-details-td-left-sku {display: none;}
	}
@media (max-width: 991px){
	.telion-form-login {margin: 0 60px 27px; width: max-content;}
	form#com-form-login {padding: 20px; text-align: center;}
	form#com-form-login input[type="submit"] {margin: 15px auto;}
	.view-user form#adminForm table td label, .view-user form#userForm table td label {margin: 0 5px; font-size: 15px;}
	.telion-form-reg-inside-1 h2, .telion-form-reg-inside-2 h2 {margin: 0 0 15px;}
	.view-user form#adminForm #jform_captcha, .view-user form#userForm #jform_captcha {padding: 20px 0;}
	li.item-648 {display: none;}
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {width: 180px;}
	.list-order-number, .list-cdate, .list-mdate, .list-status, .list-total {font-size: 15px;}
	}
@media (max-width: 767px){
	.telion-form-registration {margin: 0 auto; display: block; width: max-content;}
	.telion-form-login {width: 269px; margin: 0 auto 27px;}
	.list-mdate {display: none;}
	.view-user form#adminForm, .view-user form#userForm {width: max-content; max-width: 420px; margin: 0 auto;}
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {width: 220px;}
	div#tab-1 {font-size: 14px;}
	}
@media (max-width: 635px){
	.vm-orders-information .vm-orders-order td {padding: 7px 3px 7px 3px; width: 120px;}
	.telion-details-order-div-items {display: block;}
	.spaceStyle.vm-orders-items {display: none;}
	hr.telion-details-order-hr {margin-bottom: 0;}
	.vm-orders-information br {display: none;}
	.view-user form#adminForm, .view-user form#userForm {width: max-content; max-width: 386px; margin: 0 auto;}
	}
@media (max-width: 568px){
	div#t3-content {padding-bottom: 20px;}
	.tabs .buttonBar-right {bottom: 10px;}
	}
@media (max-width: 495px){
	.view-user form#adminForm, .view-user form#userForm {width: max-content; max-width: 352px; margin: 0 auto;}
	}
@media (max-width: 425px){
	.view-user form#adminForm table td.key, .view-user form#userForm table td.key {width: 110px;}
	.telion-form {display: inline;}
	form#form-login {bottom: 9px; top: initial; right: 6px;}
	.view-user form#form-login input[type="submit"] {display: none;}
	.list-status {display: none;}
	.view-user form#adminForm > #ui-tabs #tabs li {width: 50%; text-align: center; display: table-cell; vertical-align: middle;}
	ul#tabs {display: inline-table; max-width: 95%;}
	div#tab-1 {margin-bottom: 10px;}
	.view-user form#adminForm table .tos-block td.key + td .terms-of-service, .view-user form#userForm table .tos-block td.key + td .terms-of-service {margin: 6px 0;}
	div#tab-2 {padding: 3px;}
	div#editcell {margin: 0;}
	.view-user form#adminForm table, .view-user form#userForm table {font-size: 12px;}
	.view-user form#adminForm > #ui-tabs #tabs li {font-size: 16px; width: min-content; padding: 6px 15px;}
	.telion-form-reg-inside-1 {padding: 0;}
	.telion-form-reg-inside-2 {padding: 15px;}
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {font-size: 13px;}
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {width: 135px;}
	.view-user form#adminForm, .view-user form#userForm {width: max-content; max-width: 310px; margin: 0 auto;}
	.view-user form#adminForm table td label, .view-user form#userForm table td label {font-size: 13px; margin: 0;}
	.remind, .required {font-size: 13px; margin: 0; padding: 0; border: 0;}
	.reset .form-validate p, .remind .form-validate p {padding: 0;}
	.form-horizontal .control-group {margin-left: -5px; min-width: auto; width: 100%;}
	.controls input[type="email"], #user-registration input[type="text"] {width: 100%;}
	.rc-anchor-normal .rc-anchor-pt {margin: 2px 2px 0 0;}
	.spaceStyle.vm-orders-order {font-size: 15px;}
	.vm-orders-information .vm-orders-order td {width: 110px;}
	.reset .form-validate p, .remind .form-validate p {font-size: 13px; margin-left: -3px;}
	.popover .popover-content, .popover .popover-title, .popover.right > .arrow {display: none;}
	.vm-orders-list h1 {font-size: 20px;}
	.vm-orders-list td, .vm-orders-list th {font-size: 13px;}
	.view-user form#adminForm .buttonBar-right, .view-user form#userForm .buttonBar-right {margin: -10px auto 6px;}
	.vm-orders-list h1 {margin: 0 8% 15px;}
	.vm-orders-list .order-view {margin: 0 8% 55px;}
}
@media (max-width: 374px){
	.view-user form#adminForm, .view-user form#userForm {width: max-content; max-width: 292px; margin: 0 auto;}
	.view-user form#adminForm #jform_captcha, .view-user form#userForm #jform_captcha {transform: scale(0.96); transform-origin: 0 0;}
	.spaceStyle.vm-orders-order {font-size: 14px;}
}
@media (max-width: 359px){
	.rc-anchor-normal .rc-anchor-checkbox-label {width: 80px;}
	.rc-anchor-normal .rc-anchor-content {width: 150px;}
	.rc-anchor-normal {width: 240px;}
	.telion-form-reg-inside-1 h2, .telion-form-reg-inside-2 h2 {width: max-content; margin: 0 0 12px;}
	.view-user form#adminForm > #ui-tabs #tabs li {font-size: 16px;}
	.tabs .btn, .navbar .navbar-nav > li > a.btn {padding: 5px 15px 7px;}
	.tabs table.adminlist {font-size: 12px !important;}
	.view-user form#adminForm table td.key + td, .view-user form#userForm table td.key + td {display: inline;}
	.view-user form#adminForm, .view-user form#userForm {width: max-content; max-width: 258px; margin: 0 auto;}
	.view-user form#adminForm table td label, .view-user form#userForm table td label {font-size: 13px;}
	.view-user form#adminForm table td.key, .view-user form#userForm table td.key {width: 90px;}
	.view-user form#adminForm #jform_captcha, .view-user form#userForm #jform_captcha {transform: scale(0.9); transform-origin: -79px 0;}
	.spaceStyle.vm-orders-order {font-size: 13px;}
	}
@media (max-width: 350px){
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {width: 135px;}
	#fancybox-content div p strong {font-size: 13px;}
	#fancybox-content div p {font-size: 12px;}
	#fancybox-content div {font-size: 12px;}
	.view-user #fancybox-wrap #fancybox-content > div {font-size: 12px; padding: 7px;}
	ul, ol {padding-left: 9px; text-align: justify;}
	.view-user #fancybox-wrap {width: 90% !important; left: 5% !important;}
	}
@media (max-width: 345px){
	.view-user form#adminForm > #ui-tabs #tab-1 .buttonBar-right {margin: 15px 0 5px -5px; padding-top: 0;}
	}
@media (min-width: 426px){
	.view-user form#adminForm table td.key, .view-user form#userForm table td.key {width: 135px;}
	.telion-form {display: inline;}
	.view-user h1 {display: inline;}
	.telion-empty {margin: 20px 5px;}
	form#form-login {left: 47%; top: -22px;}
	.view-user form#adminForm > #ui-tabs #tabs li {font-size: 15px; width: max-content; padding: 12px 15px;}
	.telion-form-reg-inside-1, .telion-form-reg-inside-2 {padding: 15px;}
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {font-size: 14px;}
	.remind {margin-left: 19px; font-size: 16px;}
	.form-horizontal .control-group {margin-left: 17px;}
	}
@media (min-width: 496px){
	form#form-login {left: 53%;}
	.view-user form#adminForm > #ui-tabs #tabs li {font-size: 16px; width: max-content; padding: 12px 15px;}
	}
@media (min-width: 530px){
	.remind {margin-left: 28px;}
	}
@media (min-width: 636px){
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {font-size: 15px;}
	.remind {margin-left: 78px;}
	}
@media (min-width: 768px) and (max-width: 991px){
	.telion-form {display: inline;}
	.vm-orders-information #tabs li {font-size: 17px;}
	}
@media (min-width: 768px){
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {font-size: 16px;}
	.view-user form#adminForm table td.key, .view-user form#userForm table td.key {width: 140px;}
	.remind {margin-left: 56px;}
	}
@media (min-width: 992px){
	.telion-form {display: flex;}
	div#tab-1 {font-size: 16px;}
	.telion-tos {padding: 15px 0;}
	.view-user form#adminForm > #ui-tabs #tab-1 .buttonBar-right {padding-top: 25px;}
	.view-user form#adminForm #jform_captcha, .view-user form#userForm #jform_captcha {padding: 20px 0 20px 0;}
	.remind {margin-left: 78px;}
	}
@media (min-width: 1200px){
	.telion-form-reg-inside-1 {border: 0px solid #ccc; border-radius: 10px; padding: 0 22px;}
	.remind {margin-left: 90px;}
	}

/* Страница категории */
a.continue_link.btn.btn-default {margin-left: 10px;}
.pull-right {margin-right: 10px;}
.btn-padded-wrap {margin-bottom: 7px;}
.padded-product-name-span {text-align: right;}
.yesterday {color: #777;font-size: 12px;margin: -12px 0 12px 12px;}
.productdetails-view .product-stock {width: max-content;}
.productdetails-view .addtocart-area {margin-bottom: 14px;padding-bottom: 20px;}
.product-article-grey {color: #777; white-space: nowrap; overflow: hidden; margin: 0 20px;}
.bottom-content {margin-top: 20px; padding-top: 20px; border-top: 0;}
.category-view .product-info {margin-bottom: 132px;}
.addtocart-bar .quantity-wrap {margin-right: 18px;}
.category-view .orderby-displaynumber .display-number {display: none;}
.product-wrap .product-details .product-cart {margin-bottom: 22px;}
.product-wrap .product-image {height: max-content; margin: 0;}
.product-wrap .product-info .product-name {margin-bottom: 12px;}                                                                                               
.product-wrap .product-details {width: 100%; float: left; position: absolute; bottom: 0; left: 0; right: 0; margin: auto;}
.product-wrap .product-info .product-stock-wrap {margin-bottom: 100px; position: absolute; left: 0; right: 0; bottom: 15px;}
.product-wrap .product-details .product-price {margin-bottom: 15px;}           
.product-wrap .product-details .product-cart .quantity-wrap {display: inherit; position: absolute; left: 200px;}
.product-wrap .product-details .product-cart .quantity-wrap .quantity-controls {display: none;}
.product-wrap .product-details .product-cart .quantity-wrap .quantity-input, .product-wrap .product-details .product-cart .quantity-wrap .quantity-input:hover {color:#fff;}
.product-wrap .product-details .product-cart .quantity-wrap .quantity-input:focus {color:#777;}
.moduletable .product-wrap .product-details .product-cart .quantity-wrap .quantity-input, .tab-content .product-wrap .product-details .product-cart .quantity-wrap .quantity-input {color:#f4f3ef;}
ul.slick-dots {position: absolute; left: 0; top: -10px; height: max-content;}
@media (max-width: 425px){
	.product-wrap .product-details .product-cart .quantity-wrap {display: none}
	div#fancybox-wrap {width: auto !important; margin: 0 10px; left: 0 !important;}
	.pull-right {margin-right: 0;}
	a.continue_link.btn.btn-default {margin-left: 0; margin-bottom: 12px;}
	.padded-product {display: flex; flex-direction: column-reverse;}
	.padded-wrap {display: flex; flex-direction: column-reverse;}
	.padded-wrap .padded-product-name h4 {margin: 0; font-size: 18px;}
	.padded-wrap .padded-product-name {padding-right: 0;}
	.padded-wrap .padded-product-image {margin: 20px 0;}
	.btn-padded-wrap {margin-bottom: 0;}
	.padded-wrap .btn-padded-wrap a {margin-bottom: 0; width: -webkit-fill-available; width: -moz-available;}
	.category-view h1 {font-size: 22px; margin: 10px 0 20px 0;}
	.category_description {margin: 20px 0;}
	.vm-trumb-slider .slick-slide img {max-height: 125px !important;}
	.vm-trumb-slider, .vm-trumb-slider .slick-slide {height: 125px !important;}
	.product-wrap .product-info .product-stock-wrap {margin-bottom: 0; position: static; left: auto; right: auto; bottom: auto;}
	.product-wrap .product-details {width: 100%; float: none; position: static; bottom: auto; left: auto; right: auto; margin: auto; display: flex; margin-top: 12px; margin-bottom: 5px;}
	.product-wrap .product-block .spacer {padding: 10px;}
	.product-wrap .product-info .product-name {margin-bottom: 5px;}
	.product-wrap .product-info .product-name {font-size: 17px;}
	.category-view .product-info {margin-bottom: 7px;}
	.product-article-grey {display: none;}
	.addtocart-bar .addtocart-button input {padding: 7px 14px;}
	.product-wrap .product-details .product-cart {margin-bottom: 0; flex: auto;}
	.product-wrap .product-details .product-price {margin-bottom: 4px; flex: auto; margin-left: 13px;}
	.product-wrap .product-details .product-price span.PricesalesPrice {font-size: 22px;}
	.container h3, .vendor-store-desc h2, .t3-sidebar h3.module-title {font-size: 18px;}
	.t3-mainbody .row {display: flex; flex-direction: column;}
	div#t3-content {order: 2;}
	.t3-sidebar {order: 1;}
	.moduletret {display: none;}
	.cf_flt_wrapper {margin-bottom: 8px !important;}
	.cf_flt_wrapper div {height: 100% !important;}
	.cf_filters_list {display: flex; flex-wrap: wrap;}
	.cf_filters_list li {padding-right: 6px;}
	.vm-trumb-slider div {height: 125px; text-align: center; pointer-events: none;}
	}
@media (min-width: 426px) and (max-width: 767px){
	.product-wrap .product-details .product-cart .quantity-wrap {display: none}
	}
.orderby-displaynumber .title {display: none;}
.orderby-displaynumber {display: none;}

/* Страница товара */
.productdetails-view h1 {font-size: 26px;}
.productdetails-view .product-fields > div {margin-bottom: 0;}
.productdetails-view .product-article {margin-bottom: 5px;color: #777;}
.productdetails-view .product-short-description {color: #534F49; font-size: 14px; padding-top: 12px; margin-top: 14px; text-align: justify;}
.productdetails-view .product-price {margin:15px 0 25px 15px;display: inline-block;}
span.yesterday {font-size: 15px; color: #777;}
.text-success, .text-success:hover {color: #EB5E28;}
.product-article-name {display: inline-block;color: #777;}
.na_otrez {border: solid 2px #ccc; padding: 8px 10px; width: max-content; border-radius: 8px; margin-bottom: 18px; display: flex; margin-left: -10px;}
.text_na_otrez {color: #EB5E28; margin-bottom: 0; font-size: 14px; margin-top: 2px;}
.price_na_otrez {padding: 0 0 2px 10px; margin-bottom: 0; font-weight: 700; color: #888;}
.Price.vm-display.vm-price-value {display: inline-block; font-size: 20px; margin: 0 7px;}
.retail-price {margin: 12px 15px 0 0; color: #252422; font-size: 18px;}
.price-telion-your {display: inline-block; font-size: 20px; font-weight: 700;}
.product-description p {font-size: 14px;}
.product-description ul {font-size: 14px;}
.product-description li {font-size: 14px;}
.product-field-display {font-size: 14px; display: initial;}
.product-fields-title-wrapper {display: inline-block !important; margin-bottom: 0 !important;}
.product-fields-title strong {font-weight: 400; font-size: 14px;}
body .b1c-form {padding: 5px;}
body .b1c-form .b1c-submit-area {margin: -5px; margin-top: 13px;}
.b1c-form .b1c-description {text-align: justify;}
.b1c-form .b1c-result {padding: 2px 10px;}
@media (max-width: 359px){
	.text_na_otrez {font-size: 13px;}
	}
@media (max-width: 425px){
	.breadcrumb-wrap.container {display: none;}
	.productdetails-view .addtocart-area {margin-left: 15px;}
	.productdetails-view .product-stock {margin-left: 15px;}
	.yesterday {margin: -12px 0 12px 21px;}
	.productdetails-view .product-article {margin-left: 15px;}
	.product-description p {text-align: justify;}
	.vmzoomer-image {height: 250px !important;}
	.productdetails-view h1 {font-size: 18px; margin: 0 0 10px;}
	.btn.btn-default {display: none;}
	.productdetails-view .manufacturer {display: none;}
	.productdetails-view .product-article {display: none;}
	.spacer-buy-area .yesterday {margin-bottom: 0;}
	.productdetails-view .product-price {margin: 5px 0 15px 30px;}
	.nav-tabs-navigation {margin-bottom: 10px;}
	.na_otrez {margin-left: 0;}
	.price_na_otrez {padding: 0 0 2px 5px;}
	.text_na_otrez {margin-top: 3px;}
	}
@media (min-width: 992px){
	.vmzoomer-wrap {margin-bottom: 0;}
	}
/* "Модальное окно" // Кнопки под фото */
.modal1 .btn-close1 {color: #aaa; cursor: pointer; font-size: 30px; text-decoration: none; position: absolute; right: 12px; top: 0;}
.modal1 .btn-close1:hover {color: #EB5E28;}
.modal-wrap1:before {content: ""; display: none; background: rgba(0, 0, 0, .3); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 101;}
.modal-overlay1 {bottom: 0; display: none; left: 0; position: fixed; right: 0; top: 0; z-index: 102;}
.modal-open1:checked ~ .modal-wrap1:before, .modal-open1:checked ~ .modal-wrap1 .modal-overlay1 {display: block;}
.modal-open1:checked ~ .modal-wrap1 .modal-dialog1 {-webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); top: 20%;}
.modal-dialog1 {background: #f4f3ef; border: none; border-radius: 5px; position: fixed; width: 80%; max-width: 600px; left: 50%; top: -100%; -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22), 0 19px 60px rgba(0,0,0,.3); -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3); box-shadow: 0 15px 20px rgba(0,0,0,.22), 0 19px 60px rgba(0,0,0,.3); -webkit-transform: translate(-50%, -500%); -ms-transform: translate(-50%, -500%); -o-transform: translate(-50%, -500%); transform: translate(-50%, -500%); -webkit-transition: -webkit-transform .4s ease-out; -moz-transition: -moz-transform .4s ease-out; -o-transition: -o-transform .4s ease-out; transition: transform .4s ease-out; z-index: 103;}
.modal-body1 {background: #fff; margin: 0 20px 20px 20px; padding: 10px 20px 8px; border-radius: 5px; border: dotted 1px #777;}
.modal-body1 p {margin: 0; text-align: justify;}
.modal-header1, .modal-footer1 {padding: 20px 20px;}
.modal-header1 h2 {color: #555; line-height: 1; font-size: 24px; font-weight: 700; padding-left: 20px; margin: 0;}
.modal-body1 img {max-width: 100%; max-height: 100%;}
.btn1 {background: #fff; border: #ccc solid 1px; border-radius: 6px; cursor: pointer; display: inline-block; font-size: 14px; text-decoration: none; text-align: center; min-width: 60px; position: relative; float: left; margin-right:10px; color: #9e9e9e; height: 36px;}
.btn1:hover, .btn1:focus {background: #f2f2f2; color: #EB5E28;}
.modal-main {background: #fff; margin-bottom: 20px; border-radius: 5px; margin-top: -30px; position: relative; padding: 0 0 10px 15px; z-index: 999; height: 50px;}
.div1 {display: inline;}
.div2 {display: inline-block; padding-top:6px}
.icon1 {padding: 1px 7px 2px 0; max-width: 100%; max-height: 100%; height: 100%;}
.icon2 {padding: 3px 7px 6px 0; max-width: 100%; max-height: 100%; height: 100%;}
.icon3 {padding: 3px 7px 6px 0; max-width: 100%; max-height: 100%; height: 100%;}
@media (max-width: 767px){
	.modal-main {height: 154px; padding: 0 5px;}
	.btn1 {float: none; font-size: 16px; width: 271px; margin-right: 0; margin-bottom: 10px;}
	}
@media (max-width: 425px){
	.btn1 {margin: 10px auto; display: block;}
	.modal-main {display: none;}
	}
@media (max-width: 360px){
	.btn1 {width: 260px;}
}
@media (min-width: 426px){
	.btn1 {margin-left: 10px;}
	#fancybox-wrap #fancybox-outer {min-width: 450px;}
}
@media (min-width: 768px){
	.modal-main {height: 50px; padding: 0 0 10px 15px;}
	.btn1 {width: 143px; margin-left: 0;}
	}
@media (min-width: 992px){
	.btn1 {width: 125px; margin-right: 6px;}
	}
@media (min-width: 1200px){
	.btn1 {width: 173px; margin-right:13px;}
	}
.text-bold1 {color: #6078EA;font-weight: 700;padding-bottom: 10px;}
.text-main1 {font-size: 14px;padding-bottom: 10px;text-indent: 10px;}
.text-bold2 {color: #6078EA;font-weight: 700;padding-bottom: 0;padding-left: 20px;}
.text-main2 {font-size: 16px;padding-bottom: 10px;text-indent: 0;}
.text-dop2 {font-size: 14px;padding-bottom: 10px;padding-left: 20px;}

/* Страница "Заказ оформлен" */
.zakaz span.vmCartPaymentLogo img {display: none;}
.zakaz span.vmCartPaymentLogo:after {content: "-";}
.zakaz span.post_payment_order_number_title:after {content: "-";}
.zakaz span.post_payment_order_total_title:after {content: "-";}
.zakaz_table_th {background-color: #DFDBD1; padding: 16px 22px; font-size: 17px;}
.zakaz_table {border: 2px solid #DFDBD1; border-radius: 7px; background: #fff;}
.zakaz .post_payment_payment_name {padding: 10px;}
.zakaz .post_payment_order_number {padding: 0 10px 10px 10px;}
.zakaz .post_payment_order_total {padding: 0 10px 10px 10px;}
.zakaz_end {font-size: 18px; padding: 20px 10px;}
.zakaz .custom {display: flex;}
.zakaz_text {padding: 20px; color: #66615B;}
.zakaz .custom div em {display: inline; padding: 0 0 0 45px; font-size: 20px;}
.zakaz .vm-order-done a {margin-top: 20px; text-transform: uppercase;}
.zakaz a.btn.btn-primary.btn-sm {float: right; margin: -40px 5px;}
.zakaz .navbar .navbar-nav > li > a.btn.btn-primary, .btn-primary {color: #66615B;}
@media (max-width: 767px){
	.zakaz_table {font-size: 14px; margin: 10px 0;}
	}
@media (max-width: 425px){
	.zakaz_text {font-size: 15px; padding: 0 10px 10px;}
	.zakaz .custom {display: block; margin: 20px 0 40px;}
	.zakaz_end {font-size: 13px; padding: 8px;}
	.zakaz_table_th {padding: 10px 20px; font-size: 16px;}
	.zakaz_table span.vmCartPaymentLogo {display: inline;}
	.zakaz .post_payment_order_total {padding-bottom: 22px;}
	}
@media (min-width: 426px) and (max-width: 767px){
	.zakaz_text {font-size: 18px; padding: 20px 10px;}
	.zakaz_end {font-size: 15px; padding: 13px 8px;}
	.zakaz .custom div em {padding: 0 0 0 19px;}
	}
@media (min-width: 768px) and (max-width: 991px){
	.zakaz_text {font-size: 18px;}
	}
@media (min-width: 992px) and (max-width: 1199px){
	.zakaz_text {font-size: 20px;}
	}
@media (min-width: 1200px){
	.zakaz_text {font-size: 24px;}
	}

/* Модуль "Продукт дня" */
.t3-sidebar .product-day-module.noslider .product-day-wrap {padding-bottom: 15px;}
.product-day-module .product-day-discount {background: #EB5E28;}
.t3-sidebar .product-day-module.noslider .product-day-wrap .spacer {border: solid 1px #ddd;}

/* Хлебные крошки */
.breadcrumb-wrap .breadcrumb a, .breadcrumb-wrap .breadcrumb span {color: #B9B0A2;}
.breadcrumb li a {font-size: 15px;}
.view-article h1.article-title {border-bottom: solid #ccc 1px;}

/* Модуль фильтрации */
.cf_wrapper_input_text_1 input[type="search"] {display: inline-block;}
.cf_filters_list li .cf_option {font-weight: 400;}
.telion_cf_input {padding: 3px 0 7px 10px !important; border-radius: 10px !important;}
.cf_wrapper_input_text_2 input[type="search"] {display: inline-block; min-width: 70px !important;}
.cf_flt_wrapper {margin-bottom: 17px !important;}
.cf_filters_list {padding-left: 25px; margin-bottom: 0;}
.cf_filtering_slider_gutter {padding-left: 15px !important;}
a.cf_resetAll_link {border: solid 2px #999; border-radius: 20px; padding: 5px 10px; margin: 7px 12px; display: inline-block;}
a.cf_resetAll_link:hover {background: #999; color: #eee;}
form#cf_form_152 {margin: 13px;}
span.cf_flt_header_text {font-size: 15px; font-weight: 700; color: #999;}
.modulecf-fil-module {border: solid 1px #ddd; border-radius: 7px; background: #fff;}
.cf_flt_wrapper label {font-weight: 400; font-size: 13px;}
span.cf_flt_counter {font-size: 14px;}
.t3-sidebar {padding-top: 0;}
.headexpand_hide, .headexpand_show {font-family: fontAwesome; background: none !important;margin-right: 7px !important;}
.headexpand_hide:before {content: "\f055";}
.headexpand_show:before {content: "\f056";}
.cf_search_button {margin-left: 6px; border: solid 2px #999;}
.cf_search_button:hover {border: solid 2px #999; background: #999;}
.cf_apply_button:hover > i, .cf_apply_button:active > i, .cf_apply_button:focus > i {color: #EB5E28; font-weight: 400; opacity: 1;}
button.btn.btn-primary.cf_apply_button:hover, button.btn.btn-primary.cf_apply_button:active, button.btn.btn-primary.cf_apply_button:focus {background-color: initial;}
.cf_clear > a {font-size: 14px; font-style: italic;}
.cf_apply_button {border: 0; position: absolute; top: 2px; right: -1px; width: 45px; z-index: 2;}
.cf_wrapper_inner select {margin-left: 21px !important;}
@media (min-width: 992px) and (max-width: 1199px){
	.cf_flt_wrapper label {font-size: 12px;}
	.cf_resetAll_link {font-size: 13px !important; font-weight: 700;}
}

/* Модуль Megamenu */
em.fa.fa-location-arrow a:hover {color: #fff;}
.t3-mainnav .t3-header .header-top .navbar-nav > li > a:hover, .t3-mainnav .t3-header .header-top .navbar-nav > li > a:focus, .t3-mainnav .t3-header .header-top .navbar-nav > li.active > a {color: #fff;}
.t3-megamenu a {color: #555;}
.label-warning {background-color: #EB5E28;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .inputbox:focus {color: #66615b;}
.btn:hover i, .btn:focus i, .btn:active i, .btn:active:hover i, .btn:active:focus i, .btn.active i, .open > .btn.dropdown-toggle:focus i, .open > .btn.dropdown-toggle:hover i, .open > .btn.dropdown-toggle i, .navbar .navbar-nav > li > a.btn:hover i, .navbar .navbar-nav > li > a.btn:focus i, .navbar .navbar-nav > li > a.btn:active i, .navbar .navbar-nav > li > a.btn:active:hover i, .navbar .navbar-nav > li > a.btn:active:focus i, .navbar .navbar-nav > li > a.btn.active i, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus i, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover i, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle i {color: #fff;}
.t3-header .block-search .dropdown-menu input {width: 270px; display: initial; padding-right:32px;}
.t3-megamenu > ul > li {border: solid 1px #fff; background-color: #fff;}
.t3-megamenu .navbar-nav.nav > li.alias-parent-active > a, .t3-megamenu .navbar-nav.nav > li.active > a, .t3-megamenu .navbar-nav.nav > li.active > a:hover, .t3-megamenu .navbar-nav.nav > li.active > a:focus {color: #000;}
.t3-megamenu .navbar-nav.nav > li.alias-parent-active, .t3-megamenu .navbar-nav.nav > li.active, .t3-megamenu .navbar-nav.nav > li.active, .t3-megamenu .navbar-nav.nav > li.active {background-color: #fff;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:not(.btn):hover, .navbar-default .navbar-nav > .active > a:not(.btn):focus, .navbar-default .t3-megamenu .navbar-nav > li > a:not(.btn):hover, .navbar-default .navbar-nav > li > a:not(.btn):focus {color: #777;}
.navbar-default .t3-megamenu .navbar-nav.nav > li.active > a:not(.btn):hover {color: #000;}
.t3-megamenu > ul > li:hover {border: solid 1px #aaa; background-color: #fff; box-shadow: inset 0 0 3px 0 #3BB2E1;}
.t3-megamenu .nav > li.dropdown.open > a:before {border-top: 11px solid #F1EAE0; border-bottom: 0; border-left: 11px solid transparent; border-right: 11px solid transparent; content: ""; display: none; position: absolute; right: 12px; bottom: -10px; z-index: 1001;}
.t3-megamenu .nav > li.dropdown.open > a:after {border-top: 11px solid #F1EAE0; border-bottom: 0; border-left: 11px solid transparent; border-right: 11px solid transparent; content: ""; display: none; position: absolute; right: 12px; bottom: -10px; z-index: 1001;}
.t3-megamenu .dropdown-menu {background-color: #fff;}
.t3-megamenu .nav > li.dropdown > .dropdown-menu .dropdown-submenu .dropdown-menu {left: 100% !important; border: solid 1px #aaa; border-radius: 0; width: max-content; padding: 0;}
.t3-megamenu .nav > li.dropdown > .dropdown-menu {top: 53px; left: -1px; right: -1px; border: solid 1px #aaa; border-radius: 0; padding: 0; min-width: 255px; top: 190px;}
.t3-megamenu .mega-inner {padding: 5px 0;}
.t3-megamenu .nav > li.dropdown > .dropdown-menu .dropdown-submenu > a {padding-right: 16px; color: #555; border-left: solid 3px #fff;}
.t3-megamenu .col-xs-1, .t3-megamenu .col-sm-1, .t3-megamenu .col-md-1, .t3-megamenu .col-lg-1, .t3-megamenu .col-xs-2, .t3-megamenu .col-sm-2, .t3-megamenu .col-md-2, .t3-megamenu .col-lg-2, .t3-megamenu .col-xs-3, .t3-megamenu .col-sm-3, .t3-megamenu .col-md-3, .t3-megamenu .col-lg-3, .t3-megamenu .col-xs-4, .t3-megamenu .col-sm-4, .t3-megamenu .col-md-4, .t3-megamenu .col-lg-4, .t3-megamenu .col-xs-5, .t3-megamenu .col-sm-5, .t3-megamenu .col-md-5, .t3-megamenu .col-lg-5, .t3-megamenu .col-xs-6, .t3-megamenu .col-sm-6, .t3-megamenu .col-md-6, .t3-megamenu .col-lg-6, .t3-megamenu .col-xs-7, .t3-megamenu .col-sm-7, .t3-megamenu .col-md-7, .t3-megamenu .col-lg-7, .t3-megamenu .col-xs-8, .t3-megamenu .col-sm-8, .t3-megamenu .col-md-8, .t3-megamenu .col-lg-8, .t3-megamenu .col-xs-9, .t3-megamenu .col-sm-9, .t3-megamenu .col-md-9, .t3-megamenu .col-lg-9, .t3-megamenu .col-xs-10, .t3-megamenu .col-sm-10, .t3-megamenu .col-md-10, .t3-megamenu .col-lg-10, .t3-megamenu .col-xs-11, .t3-megamenu .col-sm-11, .t3-megamenu .col-md-11, .t3-megamenu .col-lg-11, .t3-megamenu .col-xs-12, .t3-megamenu .col-sm-12, .t3-megamenu .col-md-12, .t3-megamenu .col-lg-12 {padding-left: 3px; padding-right: 3px;}
.t3-megamenu .nav > li.dropdown > .dropdown-menu a {color: #555; border-left: solid 3px #fff; font-size: 14px;}
.t3-megamenu .nav > li.dropdown > .dropdown-menu .active > a {color: #000; font-weight: 700; border-left: solid 3px #fff;}
.t3-megamenu .nav > li.dropdown > .dropdown-menu .dropdown-submenu > a:hover {color: #000; border-left: solid 3px #76C9EA;}
.t3-megamenu .nav > li.dropdown > .dropdown-menu a:hover {color: #000; border-left: solid 3px #76C9EA;}
.t3-megamenu .mega-nav > li, .t3-megamenu .dropdown-menu .mega-nav > li {border-bottom: solid 1px #ccc;}
.t3-megamenu .mega-nav > li, .t3-megamenu .dropdown-menu .mega-nav > li:hover {border-bottom: solid 1px #76C9EA;}
.t3-megamenu .nav > li.dropdown > .dropdown-menu .dropdown-submenu > a:after {position: absolute; right: 13px; bottom: 70%;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: #f5f5f5; border-color: #eee;}
.t3-megamenu .nav > .dropdown > .dropdown-toggle .caret {display: none;}
.nav > li > a > img {max-width: none; width: 130px; border: solid 0 #ccc; padding: 10px;}
.t3-megamenu .navbar-nav.nav > li > a {color: #777; font-family: arial; font-size: 14px; font-weight: 700; text-transform: initial; display: grid; justify-items: center;}
span.image-title {padding-top: 14px;}
.t3-megamenu > ul > li:hover > a > img {border: solid 0 #3BB2E1;}
@media (min-width: 439px) and (max-width: 991px){
	span.image-title {font-size: 12px;}
	.t3-megamenu .navbar-nav.nav > li > a {padding: 8px 2px;}
	.nav > li > a > img {width: 62px;}
	.t3-megamenu .nav > li.dropdown > .dropdown-menu {top: 116px;}
	}
@media (min-width: 768px) and (max-width: 991px) {
	.t3-megamenu .navbar-nav.nav > li > a {padding: 8px 5px; width: min-content; text-align: center; text-transform: uppercase; font-size: 12px;}
	.cf_filters_list {padding-left: 10px;}
      	}
@media (min-width: 992px) and (max-width: 1199px){
	span.image-title {font-size: 13px;}
	.nav > li > a > img {width: 77px;}
	.t3-megamenu .nav > li.dropdown > .dropdown-menu {top: 137px;}
	.t3-megamenu .navbar-nav.nav > li > a {padding: 10px 10px; font-size: 13px;}
	.cf_filters_list {padding-left: 20px;}
	}

/* Страница производетелей */
.manufacturer-details-view .manufacturer-image {float: left; margin-bottom: 4px;}
img.manufacturer-image {margin-right: 12px; border: solid 1px #aaa; padding: 10px; background-color: #fff;}
.manufacturer-description {text-align: justify;}
.manufacturer-url {float: right; margin: 0 0 8px 15px;}
.manufacturer-details-view .zakaz .navbar .navbar-nav > li > a.btn.btn-primary, .manufacturer-details-view .btn-primary {float: right; margin-bottom: 70px;}

/* Стили для сафари */
::i-block-chrome, .tab-module .nav-pills {margin: 20px auto 40px; width: 369px;}
::i-block-chrome, .moduletable .product-wrap .product-details .product-cart, .t3-module .product-wrap .product-details .product-cart, .trendshop-slider .product-wrap .product-details .product-cart, .product-related-products .product-wrap .product-details .product-cart {margin: 15px auto; width: 78px;}
::i-block-chrome, .product-wrap .product-details .product-cart .addtocart-bar {width: 102px; margin: 0 auto;}
::i-block-chrome, .telion-main-page-outer {width: 56%; margin: 22px auto;}
::i-block-chrome, .fa-location-arrow a {color: #777;}
::i-block-chrome, .navbar-default .navbar-nav > li > .nav-header {color: #777;}
::i-block-chrome, .header-top-2 .navbar-nav > .active > a, .header-top-2 .navbar-nav > .active > a:not(.btn):hover, .header-top-2 .navbar-nav > .active > a:not(.btn):focus, .t3-header .header-top .header-top-2 .navbar-nav > li > a:not(.btn):focus, .t3-header .header-top .header-top-2 .navbar-nav > li.active > a, .t3-header .header-top .header-top-2 .navbar-nav > li > a {color: #777;}
::i-block-chrome, .telion-hello-user a {color: #777;}
::i-block-chrome, .header-top.navbar.navbar-default {background-color: #f4f3ef; color: #777;}
::i-block-chrome, .happy-birthday {display: none;}
::i-block-chrome, .t3-header .search-and-cart {margin: 14px 0;}
::i-block-chrome, .t3-megamenu .nav > li.dropdown > .dropdown-menu {top: 177px;}
::i-block-chrome, .t3-megamenu > ul > li {text-align: center;}
::i-block-chrome, span.image-title {display: block;}
::i-block-chrome, .t3-megamenu .navbar-nav.nav > li > a {padding: 10px 15px;}
::i-block-chrome, .t3-megamenu .mega > .mega-dropdown-menu {min-width: 267px;}
::i-block-chrome, .category-view > .row > .category {height: 296px;}
::i-block-chrome, .category-view .product-info {height: 74px; overflow: hidden; margin-bottom: 143px;}
::i-block-chrome, .telion-form-login {width: 230px; display: block; margin: 20px 0 20px 10%;}
::i-block-chrome, .telion-form-registration {display: block; width: 589px; margin: 0 20px 50px;}
::i-block-chrome, .view-user form#adminForm table td.key + td, .view-user form#userForm table td.key + td {width: 72%;}
::i-block-chrome, .view-user form#adminForm .buttonBar-right, .view-user form#userForm .buttonBar-right {padding-top: 15px; padding-bottom: 10px;}

/* Разное внизу */
.ui-widget-content {background-color: #fff;}
.invoicenew_32, .invoice-32-print {background: url(../images/invoicenew.png) no-repeat transparent; float: left; height: 32px; margin: auto; text-align: center; width: 32px;}
.invoice_32, .invoice-32-print {background: url(../images/invoice.png) no-repeat transparent; float: left; height: 32px; margin: auto; text-align: center; width: 32px;}
.vmcat-block .vmcat-image img:hover {border: solid 2px #bbb;}
.input-append, .input-prepend {margin-bottom: 0;}
@media (max-width: 767px){
	.hidden-xs {display: block !important;}
	.article-content iframe {height: 502px;}
	}

@media (min-width: 1200px){
	.navbar-header {display: none;}
	.col-md-2 {width: 25%;}
#cart-contents .col-xs-1, #cart-contents .col-sm-1, #cart-contents .col-md-1, #cart-contents .col-lg-1, #cart-contents .col-xs-2, #cart-contents .col-sm-2, #cart-contents .col-md-2, #cart-contents .col-lg-2, #cart-contents .col-xs-3, #cart-contents .col-sm-3, #cart-contents .col-md-3, #cart-contents .col-lg-3, #cart-contents .col-xs-4, #cart-contents .col-sm-4, #cart-contents .col-md-4, #cart-contents .col-lg-4, #cart-contents .col-xs-5, #cart-contents .col-sm-5, #cart-contents .col-md-5, #cart-contents .col-lg-5, #cart-contents .col-xs-6, #cart-contents .col-sm-6, #cart-contents .col-md-6, #cart-contents .col-lg-6, #cart-contents .col-xs-7, #cart-contents .col-sm-7, #cart-contents .col-md-7, #cart-contents .col-lg-7, #cart-contents .col-xs-8, #cart-contents .col-sm-8, #cart-contents .col-md-8, #cart-contents .col-lg-8, #cart-contents .col-xs-9, #cart-contents .col-sm-9, #cart-contents .col-md-9, #cart-contents .col-lg-9, #cart-contents .col-xs-10, #cart-contents .col-sm-10, #cart-contents .col-md-10, #cart-contents .col-lg-10, #cart-contents .col-xs-11, #cart-contents .col-sm-11, #cart-contents .col-md-11, #cart-contents .col-lg-11, #cart-contents .col-xs-12, #cart-contents .col-sm-12, #cart-contents .col-md-12, #cart-contents .col-lg-12 {padding-left: 7px; padding-right: 7px;}
#cart-contents #allproducts .top-row .price-product .spacer_div {padding-top: 4px;}
#cart-contents .col-md-2 {width: 16.66666667%;}
}
@media (min-width: 768px){
	.navbar-header {display: none;}
}

span.vm-img-desc {display: none;}
.product-related-categories .category-name {
    text-align: center;
    position: absolute;
    bottom: 23px;
    z-index: 1;
    left: 4%;
    right: 4%;
}

.category-view .category-image img {margin-top: 24px}
.product-related-categories .category-view .category-image img {margin-top: 0}

.tel-delivery-type-h {padding-left: 39px;}
li.item-314 {display: none;}
.product-wrap .product-details .product-cart .quantity-wrap {position: inherit; height: 27px; border: solid 1px #ccc; border-radius: 6px;}
.product-wrap .product-details .product-cart .quantity-wrap .quantity-controls {font-size: 17px; width: 22px; padding: 0; border: 0; display: block; height: 25px;}
.addtocart-bar .quantity-wrap .quantity-input {width: 33px;}
.product-wrap .product-details .product-cart .quantity-wrap .quantity-input {font-size: 15px; color: #888;}
.product-block input.quantity-controls.quantity-plus.btn.btn-icon {padding-top: 1px !important; padding-right: 2px !important;}
.product-block .quantity-wrap .btn:hover, .product-block .quantity-wrap .btn:focus {background-color: transparent; color: #888;}
.product-wrap .product-details .product-cart .quantity-wrap .quantity-input:hover {color: #888;}
.vmslider .product-details .product-cart .quantity-wrap {display: none;}
.slick-dotted.slick-slider {margin-bottom: 10px !important;}

/* Telion. update trendshop 1.4 */
div#dynamic_recaptcha_1 {margin-bottom: 50px; margin-top: 10px;}
.buttonBar-right {position: absolute; bottom: 85px; left: 340px; display: block;}
.view-user form#adminForm, .view-user form#userForm {display: block;}
.slick-dotted.slick-slider {margin-bottom: 10px !important;}
.pagination a {border-radius: 10px !important;}

@media (max-width: 767px){
	.article-content iframe {height: 502px;}
	}
@media (max-width: 425px){
	.cf_filters_list li {padding: 9px 14px 0px 1px;}
	span.cf_resetAll_label {font-size: 0.9em;}
	a.cf_resetAll_link {padding: 5px 10px;}
	.tel-delivery-type {padding-left: 5px;}
	.tel-delivery-type p strong {padding-left: 5px;}
	.tel-delivery-type p {font-size: 14px; padding-left: 10px;}
	.buttonBar-right {left: 70px; bottom: 28px;}
	a.flukebanner {display: none;}
	.category-image.card {height: 313px;}
	}
@media (max-width: 375px){
	.buttonBar-right {left: 43px;}
	}
@media (max-width: 320px){
	.buttonBar-right {left: 33px;}
	}

/* Жестко ограниченные экраны */
@media (max-width: 1199px) and (min-width: 992px){
	.t3-megamenu .nav > li.dropdown > .dropdown-menu {top: 176px;}
	}
@media (max-width: 991px) and (min-width: 768px){
	span.cf_resetAll_label {font-size: 15px;}
	.t3-megamenu .nav > li.dropdown > .dropdown-menu {top: 164px;}
	.buttonBar-right {left: 42px;}
	}

.flukebanner-main {border: solid 1px #ddd; border-radius: 7px; background: #fff; padding: 10px;}
p.flukebanner-header {color: #716868; text-align: center; font-size: 18px; font-weight: 700; padding-top: 5px;}
p.flukebanner-footer {color: #716868; text-align: center; font-size: 18px;}
.flukebanner-img-inside-border {width: 180px; margin: 24px auto; border: solid 1px #716868;}
.flukebanner-img-inside-noborder {width: 180px; margin: 24px auto; border: solid 0px #716868;}

.vmlabel-wrap {z-index: 1 !important;} /* значок скидка был приоритетнее пунктов меню */
.product-block .product-day-timer-block {z-index: 998;}
li.tab-reviews {display: none;}

h5#guesttitle {display: none !important;} /* 12.05.2020 / Страница оформления заказа (Корзина) */
h5#regtitle {display: none !important;} /* 12.05.2020 / Страница оформления заказа (Корзина) */

/* 20.05.2020 / #14.12.2 / Шрифт для знака рубля в IOS */
span.PricesalesPrice, .total, span.subtotal_with_tax, div#bill_total, strong#carttotal, .spacer_div, .price-sale, .price-base, .product-day-economy span, .dyn-tabs, .html-email_mailru_css_attribute_postfix, .price-crossed {font-family: 'Source Sans Pro', sans-serif, 'PT Sans';}

/* Telion #3.15 skhema-proyezda */
.title-message {margin-right: auto; margin-left: auto; padding: 7px 10px; text-align: center; font-size: 14px;}
.title-message-alarm {color: red; border-bottom: solid 1px red;}
.title-message:before {width: 0; content: " "; display: table;}
.title-message:after {width: 0; content: " "; display: table; clear: both;}

/* Telion #6.20 na-sosednii-tovar */
p.tlnx {width: 360px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: inline-block; margin: 0 5px -7px;}
.btn-move-left i, .btn-move-right i {margin: 5px 0 8px;}
@media (max-width: 1199px) and (min-width: 992px) {p.tlnx {width: 280px; font-size: 14px;}}
@media (max-width: 991px) and (min-width: 768px) {p.tlnx {width: 418px; font-size: 15px;}}
@media (max-width: 767px) and (min-width: 426px) {p.tlnx {width: 280px; font-size: 14px;}}
@media (max-width: 425px) and (min-width: 365px) {
	p.tlnx {width: 280px; font-size: 15px;}
	.btn.btn-default {display: block;}
	.btn-move-left i, .btn-move-right i {margin: 10px 0 12px;}
	}

@media (max-width: 425px) {.t3-sidebar {display: none;}}

/* Telion #6.21 zaday-vopros */
/*div#fancybox-content {height: auto !important;}*/
/*#fancybox-wrap #fancybox-content {height: 600px !important;}*/
.product-question div#dynamic_recaptcha_1 {margin-bottom: 15px;}
.product-summary {position: relative;}
.product-summary .row {width: min-content; position: absolute; bottom: -147px; right: 10px;}
.product-summary .col-sm-6.col-xs-6 {width: 160px;}
.askform .form-group:nth-child(3) {margin-bottom: 0;} // please, write....
.form-validate .form-group div:nth-child(2) {position: relative; margin-left: 15px;}
.form-validate .form-group div:nth-child(2) div:nth-child(1) {position: absolute; margin: 0; right: 10px; bottom: 149px;}
.form-validate .form-group div:nth-child(2) div:nth-child(1) label {display: none;}
.form-field .form-group div:nth-child(2) {margin-bottom: 0px;}
.short-description {display: none;}

body.contentpane {line-height: 1;}
body.contentpane h3 {margin: 0;}
body.contentpane h4 {margin: 10px 0 5px;}

.moduletablesales-11-11 h3 {margin: 25px 20px 10px; color: #EB5E28; font-weight: 700;} 
.moduletablesales-11-11 .product-info {margin-bottom: 0px;}

.productdetails-wrap .price-crossed {float: right;}
.productdetails-wrap .vm-price-value {float: left;}
.product-price-descr {display: inline-flex;}
.productdetails-view .product-price {display: inline-flex;}
.productdetails-view .product-price .price-crossed span.PricebasePriceWithTax {top: -11px;}
.product-wrap .product-details .product-price > .price-crossed{height: 27px;}


/* New Year Logo */
/*@media (max-width: 425px){
	.logo-image.logo-control {margin-top: -6px; margin-bottom: -14px;}
	.happy-birthday {display: none;}
}
@media (max-width: 375px){
	.logo-image.logo-control {margin-top: 0px; margin-bottom: -20px;}
}*/

/* POINTS */
/*.telion-form {display: block;}*/
.points {padding: 20px;}
.opg-width-large-4-5.opg-width-small-1-1 {position: relative; padding-bottom: 50px;}
.cart-points {position: absolute; bottom: 10px; right: 10px;}
.cart-points p {font-size: 15px; color: #888;}
.tln-cart-points {color: #48a6ff;}
.points {padding: 20px; border: solid 1px #ccc; border-radius: 10px; padding: 0 0 10px; margin: 0 0 20px 44px; width: fit-content; width: -moz-fit-content;}
.tln-lk-points-header {padding: 10px 20px 8px; background: linear-gradient(135deg, #6078ea -50%,#17ead9 150%); border-radius: 9px 9px 0 0; color: #fff;}
.tln-lk-points {padding: 7px 20px 0;}
.telion-form-login {display: -webkit-inline-box;}
.telion-form-reg-inside-2 {padding: 20px;}

/* LOGIN / REGISTRATION */
@media (max-width: 767px) {.telion-form-registration {width: auto;}}
@media (max-width: 425px) {.view-user form#adminForm, .view-user form#userForm {max-width: fit-content; width: -moz-fit-content; margin: 0;}}
.view-user form#adminForm > #ui-tabs #tab-1 .buttonBar-right {position: initial; margin-top: 7px;}
div#editcell {margin: 0;}
@media (max-width: 374px) {form > div#dynamic_recaptcha_1 > div {transform: translateX(-7px);}}
@media (max-width: 359px) {form > div#dynamic_recaptcha_1 > div {transform: translateX(-27px) scale(0.9);}}
.telion-form-login {display: inline;}
.tln-points-edit {display: inline-flex;}
@media (max-width: 425px) {
	.tln-points-edit {display: grid;}
	.points {margin: 0 auto 20px;}
	.opg-grid .spacer_div {padding-right: 15px;}
	.opg-grid div.row > div {width: 100%; padding: 0 0px 10px 10px;}
	.opg-width-large-4-5.opg-width-small-1-1 {padding-bottom: 0;}
	.cart-points {position: inherit; text-align: right;}
}

@media (max-width: 425px) { 
	td {font-size: 10px;}
	.row {margin-left: -14px; margin-right: -14px;}
}

/* AcyMailing */
.acym_module {display: none;}
div#mailingMain {order: 2; width: -webkit-fill-available; display: -webkit-inline-box; border: solid 1px #ccc; border-radius: 7px; width: -moz-available; padding: 10px 20px; margin-bottom: 22px;}
div#tln-mailing-chck {margin-left: 10px; margin-top: 1px;}
div#hiddenMessage {margin-left: 21px;}
#acym_wrapper input[type=checkbox]:checked:after, #acym_wrapper input[type=checkbox]:after {font-size: 15px;}
#acym_wrapper [type=checkbox]+label[for], #acym_wrapper [type=radio]+label[for] {font-size: 14px;}
#acym_wrapper .acym_front_page__unsubscribe .acym_front_page__unsubscribe__lists__container {padding: 8px 0px; margin-bottom: 23px;}
#acym_wrapper .button{font-size: 13px; padding: 10px;}
#acym_wrapper .acym_front_page__unsubscribe .acym_front_page__unsubscribe__sub-title {display: none;}
#acym_wrapper .acym_front_page__unsubscribe .acym_front_page__unsubscribe__title {margin-bottom: 7px;}

.reset-confirm {padding: 15px 25px; border: solid 1px #ccc; border-radius: 10px; text-align: justify;}
dl {margin: 0;}
@media (min-width: 768px) {.form-horizontal .control-group .control-label {width: auto;}}
.reset {border: solid 1px #ccc; padding: 20px 9px; border-radius: 10px; width: fit-content; margin-left: 28px;}
.login-wrap, .remind, .reset {margin: 0 auto; padding: 18px 26px 4px 9px;}
.control-group .controls {margin: 0 auto !important;}
#user-registration button {margin: 0;}

/* Telion #1.10 module Related Products*/
.moduletlnchk .label.label-warning.product-day-label {display: none;}

input#product_name {width: -webkit-fill-available !important;}

.rltd-tln .label.label-warning.product-day-label {display: none;}
.rltd-tln .product-day-timer-wrap {display: none;}
.vmheader {font-weight: 700; font-size: 17px; padding-bottom: 9px;}
.navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, 
	.navbar .navbar-nav > li > a.btn.btn-primary.active, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, 
	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary.active, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle {
	    background-color: #C0B8A9; color: rgba(255, 255, 255, 0.7); border-color: #C0B8A9; }
.btn.btn-default:hover, .btn.btn-link:hover, .btn.btn-icon:hover, .btn.btn-default:active, .btn.btn-link:active, .btn.btn-icon:active, .btn.btn-default:focus, .btn.btn-link:focus, .btn.btn-icon:focus {background: #CCC6B9;}

/* New Year Logo */
@media (max-width: 425px){
	.logo-image.logo-control {margin-top: -6px; margin-bottom: -14px;}
	.happy-birthday {display: none;}
	.product-neighbours {display: none;}
}
@media (max-width: 375px){
	.logo-image.logo-control {margin-top: 0px; margin-bottom: -20px;}
}

/* Стр категории. AirSlider */
.product-wrap .product-image .vm-trumb-slider .slick-prev {z-index: 1;} /* Кнопки перелистывания изображений */
.product-wrap .product-image a {outline: none;} /* Убрать рамку вокруг перелистываемых картинок */
button.slick-next.slick-arrow {right: -11px;} /* Сдвиг правой кнопки перелистывания */
button.slick-prev.slick-arrow {left: -11px;} /* Сдвиг левой кнопки перелистывания */

.vm-orders-information .dyn-tabs .line-through {color: #b9b0a2; font-size: 15px;}