
form#form_insert_id {padding: 15px 15px; background: lightblue; width: fit-content; border-radius: 5px;}
form table {margin: 0;}
form th {color: inherit; background: inherit; padding: 0;}
form td {padding: 7px 5px 0 14px; font-size: 15px;}
form td input {padding-left: 10px;}
.input-form button {padding: 5px 10px; margin: 0 6px;}
.activeRow, .activeRow:hover {background:lightblue !important; outline:0;}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type="number"] {-moz-appearance: textfield;}
input[type="number"]:hover, input[type="number"]:focus {-moz-appearance: number-input;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}

.form-buttons {padding: 24px 0 10px; margin: 0 auto; width: -webkit-fill-available;}
.form-buttons table {width: -webkit-fill-available;}
.form-buttons input {padding: 5px 10px; margin: 0 6px;}