
.table_add_new, .table_add_report {width: max-content; margin: 20px auto;}
.table_add_new {background: lightblue; padding: 10px; border-radius: 0px; position: relative; height: fit-content;}
td {border-top: solid 1px #c7c7c7; padding: 0 10px; border-left: none; border-right: none;}
td.url {padding-top: 5px; padding-bottom: 5px; max-width: 300px; word-wrap: break-word;}
form {margin: 5px;}
th div {width: min-content; margin: 0 auto;}
input[type="text"] {margin: 0 0 10px 0; font-size: 15px; padding: 2px 8px; font-family: monospace;}
div.button {width: fit-content; margin: 15px auto 7px;}
button.mini-button {border: solid 1px #999; padding: 0px 7px 3px; border-radius: 5px; font-weight: 600; font-size: inherit;}

.line-1 {position: relative; display: block; width: 100%; box-sizing: border-box; text-align: justify;}
.line-1:after {position: relative; display: inline-block; width: 100%; height: auto; box-sizing: border-box; vertical-align: top; content: '';}
.line-1 > div {position: relative; display: inline-block; box-sizing: border-box; text-align: left; vertical-align: top;}

label {margin: 4px 15px 4px 0; font-family: monospace; font-size: 14px; color: #555; font-weight: 700;}

.field2 {display: inline-block;}
input#form_task_id, input#form_task_priority, input#form_task_group, input#form_task_date_add, input#form_task_deadline, input#form_task_author {width: 144px;}
input#form_task_name {width: 370px;}

.lbl {text-align: left; padding-bottom: 2px; display: inline-block;}
tr.back-red {background: #fff0f0;}
tr.back-black {background: #bafbbc;}
.td-red {background: #ffd1c0;}
/*textarea {width: 100%; height: 291px; margin: 0 0 10px 0; padding: 4px 9px 4px 38px; text-indent: -30px;}*/
textarea {width: 100%; height: 291px; margin: 0 0 10px 0; padding: 4px 9px;}
td#tdesc div {word-break: break-all; width: 500px; max-width: 700px; padding: 8px 0;}
td#tcomment div {word-break: break-all; width: 300px; max-width: 400px; padding: 8px 0;}
input[type="button"], .button button {padding: 5px 12px 5px; font-family: monospace; font-size: 15px; margin: 0 31px; border-radius: 8px; width: 187px;}
.zebra-table tr:nth-child(odd) {background: #FCEDDC;}
.hide {display: none;}
.center {text-align: center;}
.mini-button-unactive {background: lightgray; color: #888; border: solid #888 1px;}
.tr-unactive {background: #ddd !important; color: #888; text-decoration: line-through;}
tr:hover, .zebra-table tr:nth-child(odd):hover {background: #81756780 !important;}
.grey {color: #a7a7a7;}
.have-comment {position: absolute; right: -14px; bottom: 7px; color: #D15220; user-select: none;}   
td#tname {max-width: 450px; position: relative;}
tr:focus {background: red;}
.activeRow, .activeRow:hover {background:lightblue !important; outline:0;}
.border-red {border: solid 1px #D15220; background: #fceddc; color: #D15220;}
.label-red, .border-red::placeholder {color: #D15220;}
.comment-view {position: absolute; right: 13px; bottom: 9px; font-weight: 700; font-size: 24px; color: black; user-select: none;}
.tr-tln {display: none;}
.tr-other {display: table-row;}


.container {display: flex; flex-direction: row; justify-content: space-between; align-items: stretch; height: 200px;}
.fixed {flex: 0 0 540px;}
.rubbery {flex: 1 1 25%; overflow-x: auto; height: 873px; padding: 0 8px 0 40px;}
table#mySuperTBL {margin: 0;}

.mainPage {margin: 0 auto; width: max-content;}



