.flukebanner-main {
    border: solid 1px #ddd;
    border-radius: 7px;
    background: #fff;
    padding: 10px;
}

p.flukebanner-header {
    color: #716868;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
}
p.flukebanner-footer {
    color: #716868;
    text-align: center;
    font-size: 17px;
    font-family: Montserrat;
    line-height: 1.2em;
}

.flukebanner-img-inside-border {
    width: 180px;
    margin: 24px auto;
    border: solid 1px #716868;
}

.flukebanner-img-inside-noborder {
    width: 180px;
    margin: 24px auto;
    border: solid 0px #716868;
}

