.icon-unpublish:before {color: lightcoral;}
.icon-publish:before {color: limegreen;}
.adminlist img, .adminlist svg {max-width: 242px;}

/* Размер шрифта в админке */
.admin-content p {font-size: 12px;}
label, caption {font-size: 12px;}
td {font-size: 13px; padding-bottom: 4px;}
.virtuemart-admin-area .key {min-width: 300px;}
.admin-content legend {font-weight: 700; font-size: 14px;}

/* Сопутствующие товары - блок товаров на выбор */
ul#ui-id-2 {width: 623px !important; right: 20%; top: 20%; position: absolute; height: 613px; overflow: auto;}
ul#ui-id-2 .vm_thumb_image {height: 165px !important; width: 180px !important;}
ul#ui-id-2 .vm_thumb_image img {max-height: 80px; max-width: 80px; margin: 0 38px;}
.ui-autocomplete li {height: 175px; width: 190px; font-size: 12px;}

/* Сопутствующие товары - в списке сопутвтующих */
/* span.hasTooltip {display: none;} */
span.vmicon.vmicon-16-move {display: none;}
.custom_products .vm_thumb_image img {max-height: 80px; max-width: 80px; margin: 0 21px;}
.custom_products .vm_thumb_image {height: 143px !important; width: 147px !important;}

/* Таблица товаров. Фильтры сверху */
div#header {position: relative; padding-bottom: 8px;}
div#resultscounter { position: absolute; right: 4px; bottom: -3px; font-size: 14px; }

span#filterbox {padding: 10px;}
#filterbox span {font-size: 13px;}
.virtuemart-admin-area .btn.btn-small {font-size: 12px; text-decoration: underline; border: 1px solid #999; padding: 3px 6px 1px; color: #555; margin: -1px 0 0 9px !important;
background: rgb(239,236,203); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255 255 255) 0%, #dfdfdf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255 255 255) 0%, #dfdfdf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(255 255 255) 0%, #dfdfdf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


#filterbox input.hasTooltip {width: 400px; font-size: 13px; border: solid 1px #aaa; padding: 2px 12px; margin: 10px 0; border-radius: 4px;}
input#search_date_text {border-radius: 4px; border: solid 1px #aaa; padding: 2px; margin: 10px 0 10px 9px; font-size: 13px;}
#filterbox input.hasTooltip:focus, #filterbox input.hasTooltip:hover, input#search_date_text:focus, input#search_date_text:hover, .virtuemart-admin-area .btn.btn-small:focus,
    .virtuemart-admin-area .btn.btn-small:hover, .chosen-single:hover {
	background: rgb(230,237,230); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(230,237,230,1) 0%, rgba(144,238,144,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(230,237,230,1) 0%,rgba(144,238,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(230,237,230,1) 0%,rgba(144,238,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
}
.subhead .btn {font-size: 14px; line-height: 24px; padding: 6px 12px;}
.table thead th {font-size: 15px;}
.table > :not(caption) > * > * {padding: 6px;}
#toolbar-save {display: none;}

.chosen-container-single {width: max-content !important; margin: 0 1px 2px 5px;}
.chosen-container-single .chosen-single {position: initial;}
.chosen-container-single .chosen-drop {width: max-content;}

/* Панель-управления в админке. */
.com_cpanel .module-actions > * { color: hsl(214deg 40% 30% / 40%); }
ul#vm-menu {display: none;}

/* Панель-управления в админке. Блок Virtuemart */
.card.mb-3.virtuemart { box-shadow: 0 2px 10px -8px #6C5329; }
.virtuemart h3 { color: #6C5329; }
.virtuemart .quick-icons .quickicon { --text-color: #6C5329; --bg-color: #F4EFE8; --icon-color: #988769; --bg-color-hvr: #6C5329; border-color: #ECE4D8; }

/* Панель-управления в админке. Блок AcyMailing */
.card.mb-3.acymailing { box-shadow: 0 2px 10px -8px #753F50; }
.acymailing h3 { color: #753F50; }
.acymailing .quick-icons .quickicon { --text-color: #753F50; --bg-color: #f7f0f2; --icon-color: #C49CAB; --bg-color-hvr: #753F50; border-color: #F3E9EC; }

/* Редактирование заказа */
.mirtelcom-tbody { border-top: 2px solid #dee2e6; padding-top: 7px;}
.mirtelcom-orders tbody td { padding: 4px; }
.mirtelcom-orders pre { font-size: inherit; font-family: inherit; margin: inherit; }
.mirtelcom-btn { border: solid 2px #bbb; margin: 5px 12px 10px; background: rgb(239,236,203); background: -moz-linear-gradient(top, rgba(255 255 255) 0%, #dfdfdf 100%);
    background: -webkit-linear-gradient(top, rgba(255 255 255) 0%, #dfdfdf 100%); background: linear-gradient(to bottom, rgb(255 255 255) 0%, #dfdfdf 100%); }
.mirtelcom-btn:hover { background: rgb(230,237,230); background: -moz-linear-gradient(top, rgba(230,237,230,1) 0%, rgba(144,238,144,1) 100%);
    background: -webkit-linear-gradient(top, rgba(230,237,230,1) 0%,rgba(144,238,144,1) 100%);  background: linear-gradient(to bottom, rgba(230,237,230,1) 0%,rgba(144,238,144,1) 100%); }
.mirtelcom-orders .title { text-align: center; vertical-align: middle; }
.mirtelcom-orders .block { padding: 30px; }
.mirtelcom-orders tr td.key { min-width: 120px; }
.mirtelcom-status tr td.key { min-width: 250px; }
.mirtelcom-status tr td.value { width: 100%; }
.mirtelcom-orderstatus { width: 35%; }
.mirtelcom-products table tbody tr:hover, .mirtelcom-products table tbody tr:focus, .mirtelcom-products table tbody tr:active { background-color: initial; }

.quickicon-icon { width: -webkit-fill-available; }
.quickicon-icon table { width: inherit; }
.quickicon-icon td div { font-size: 2rem; }
.quickicon-icon td { padding: 0; }
.quickicon-icon td.icon { width: 10px; }
.quickicon-icon td.value { text-align: center; }
.quickicon .logo { width: 100%; margin: auto; }

.card.mb-3.mtkdashboard { box-shadow: 0 2px 10px -8px #351F49; }
.mtkdashboard h3 { color: #351F49; }
.mtkdashboard .quick-icons .quickicon { --text-color: #351F49; --bg-color: #F4F0F7; --icon-color: #A27CC6; --bg-color-hvr: #351F49; border-color: #ECE5F1; }
.mtkdashboard .quick-icons .quickicon a .quickicon-icon > * {text-align: center;}

#toolbar-new1, #toolbar-new2, #toolbar-copy1, #toolbar-default, joomla-toolbar-button.ms-auto, #toolbar-help  {display: none;}

.header .page-title { color: var(--template-bg-dark-70); }
.header-item-content.joomlaversion .header-item-text { color: var(--template-bg-dark-70); }
.header-title a { color: var(--template-bg-dark-70); }

.vm-lang-list-container { display: none; }

/* Редактирование товара */
input#product_name, input#slug, input#product_sku { width: -webkit-fill-available; }
/* Вкладка с фото */
.vm_thumb_image { width: 140px !important; background: none !important; }
button.reset-value.fg-button { border: solid 1px #ccc; border-radius: 3px; padding: 2px 7px; font-size: 14px; }
	a.js-pages.js-previous.fg-button.ui-state-default.fg-button-icon-left.ui-corner-all,
	a.js-pages.js-next.fg-button.ui-state-default.fg-button-icon-right.ui-corner-all {display: none;}
#searchMedia, .row a.fg-button, .row .always-left { float: none !important; }
fieldset input, fieldset textarea, fieldset select, fieldset img, fieldset button {float: none !important;}
ul#ui-id-1 { margin: auto; left: 0px; right: 0px; top: 325px; bottom: 0; width: 1000px !important; height: 520px; }
ul#ui-id-1 li {height: 150px; width: 150px; font-size: 12px;}
.mceDefaultSkin .mceToolbarRow>button, .mceDefaultSkin .mceToolbarRow>div { display: inherit; }

/* MTK Dashboard */
.mtkdashboard .quick-icons .green { --bg-color: #f3f9f3; --icon-color: #55a258; --text-color: #457d54; --bg-color-hvr: #457d54; border-color: #DBEEDB; }
.mtkdashboard .quick-icons .orange { --bg-color: #fef3e7; --icon-color: #d99b54; --text-color: #bd7524; --bg-color-hvr: #bd7524; border-color: #FCDBBE; }
.mtkdashboard .quick-icons .red { --bg-color: #f4f0f0; --icon-color: #ce8484; --text-color: #c82827; --bg-color-hvr: #c52827; border-color: #DFD3D3; }
.quickicon-single { position: relative; }
.quickicon-header { position: absolute; top: 2px; right: 3px; font-size: 11px; font-weight: 700; }