/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*
THEME
*/
/* Slider */

.slick-loading .slick-list {
    background: #fff url('/plugins/system/airslider/media/images/ajax-loader.gif') center center no-repeat;
}

/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 6px;
    height: 6px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

/*
airslider
*/

.spacer{
    width: 100%;
}
.vm-trumb-slider{
    text-align: center;
    margin-bottom: 10px;
}
.vm-trumb-slider .slick-slide{
    position: relative
}
.vm-trumb-slider .slick-slide img{
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;

}
.slick-dots{
    opacity: 0.6;
    transition: opacity 0.2s;
}
.spacer:hover .slick-dots{
    opacity: 1;
    transition: opacity 0.2s;
}
.vm-trumb-slider .slick-dots li{
    margin: 0 7px;
}
.vm-trumb-slider .slick-prev,
.vm-trumb-slider .slick-next {
    width: 36px;
    height: 66px;
    background-color: rgba(216, 216, 216, 0.4);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.2s;
}
.vm-trumb-slider .slick-prev:hover,
.vm-trumb-slider .slick-prev:focus,
.vm-trumb-slider .slick-next:hover,
.vm-trumb-slider .slick-next:focus{
    background-color: rgba(216, 216, 216, 0.6);
    background-position: center center;
    background-repeat: no-repeat;
}
.vm-trumb-slider .slick-prev,
.vm-trumb-slider .slick-prev:hover,
.vm-trumb-slider .slick-prev:focus{
    background-image: url('/plugins/system/airslider/media/images/left-arrow.svg'); 
    left: 0;
}
.vm-trumb-slider .slick-next,
.vm-trumb-slider .slick-next:hover,
.vm-trumb-slider .slick-next:focus{
    background-image: url('/plugins/system/airslider/media/images/right-arrow.svg');
    right: 0;
}
.spacer:hover .slick-prev, 
.spacer:hover .slick-next{
    opacity: 1;
    transition: opacity 0.2s;
}
.slick-prev:before, 
.slick-next:before{
    display: none;
}
.slick-dots li {
    width: 15px;
    height: 15px;
    padding: 0;
}
.slick-dots li button{
    width: 15px;
    height: 15px;
    padding: 5px;
}
.slick-dots li button:before{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ccc;
    transition: background 0.2s;
}
.slick-dots li button:hover:before{
    background: #8a8a8a;
    transition: background 0.2s;
}
.slick-dots li.slick-active button:before{
    background: black;
}    