.merlion-block a {color: cornflowerblue; text-decoration: blink;}
.merlion-block {font-size: 20px;}
.merlion-main {padding: 50px; width: max-content; margin: 0 auto;}
.other-block {border: solid 1px #303030; width: max-content; padding: 0 20px;}
.bisque {background: bisque;}
.lightblue {background: lightblue;}
.footer-blocks {margin: 0 auto; width: max-content;}
.footer-blocks-flex {display: inline-flex;}